/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/



#container {

	.mbal-centre{   /* Separate from grid */
	
		width:684px;
					
	}
}

.header {
	#inner-header { 
	
		ul.top-nav > li a{ padding: 0 30px 5px 0px;}
		
		nav {
			padding: 0 0 0 16px;
			width:694px;
		}
		.nav{
			font-size:22px;
		}
	
	}
}


body.home{

		article.home-logo{
		section{
			width:684px;
		}
	}
	
	article{
		position:relative;
		
		header,footer{
			h1{font-size: 75px; line-height: 1em;}
		}
		header{
			width:684px;
			background-position: 100% 13px; 
		}
	
		footer{
			width:683px;
			background-position: 10px calc(~'100% - 13px'); 
		}

	}			
}

	
/* Page type 1 Specifics*/

/*.single, .page*/
.page-template-default, .single-mbal_exhibitions, .single-mbal_boutiques{
	
	.mbal-centre{  
		article{
			position:inherit;
			margin-bottom: 22px;
						
			section.single-lower{
				width:495px; margin-right:10px; float:left;
			}
			
			
			aside.single-lower{
				float:right;
				padding-top: 0px;
				
				#mbal-social{ 
				
					width: 100%; margin: 0; list-style-type:none;
				
					li{	float:left; width: 42px; margin-right:1px; 
					
						a{ height: 45px; 
						background-size: 185px 44px;}
					}
					
					#pinterest-icon a{  background-position: 0px 0px; }
					
					#facebook-icon a{  background-position: -47px 0px;	}
					
					#twitter-icon a{  background-position: -95px 0px; }
					
					#t-icon a{  background-position: -142px 0px; }				
				}		
			}
		}
	}			
}	

.page-template-page-boutique-php{
	
	.mbal-centre{  
		article{
			position:relative;
			
			header, footer{position:absolute;}
		}
	}			
}	


/* Page type 3 Specifics

.tax-mbal_exhibition_cat.term-archives, 
.tax-mbal_boutique_tag, 
.page-template-page-boutique-php  {
	.entry-content .thumbnail-link { height: 224px; overflow:hidden;}
}
*/