/******************************************************************
Site Name: 
Author: 

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.less styles.

******************************************************************/


.home{
	
		article{
			
			h1{font-size: 40px; line-height: 1em;}
			
		}			
	}
	
/*********************
03. LAYOUT & GRID STYLES
*********************/

/*Archive General Styles*/

.tax-mbal_exhibition_cat, 
.tax-mbal_boutique_tag, 
.page-template-page-boutique-php{

		article{
		
			header{
				background-size: 22px 32px;
				background-position: calc(~'100% - 12px') 6px;
			}
			
			footer{
				background-size: 22px 32px;
				background-position: 12px calc(~'100% - 5px'); 	
			}
		}
		
}	


/* Page type 1 Specifics*/

/*.single, .page*/
.page-template-default, .single-mbal_exhibitions, .single-mbal_boutiques{	.mbal-centre{  
		article{
			header{
							
			.next-link , .prev-link {
					position: absolute;
					a{
						background-size: 35px 29px;
						width: 14.5px;
						height: 29px;
					}
				}
				
				.prev-link {
					left:0px;
					top: 4px;
					a{ background-position: 0px 0px; }
				}
				
				.next-link {
					right: 0px; 
					top: 4px;
					a{ background-position: 13px 0px; }
				}
		
			}
			
		}
	}			
}	


/******************************************************************
05. H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1 {
	margin: 0 0 30px 0;
	font-size: 2.5em;
	line-height: 1.0em !important;

}

.tax-mbal_exhibition_cat,
.tax-mbal_boutique_tag,
.page-template-page-boutique-php{

		article{
			h1, .h1	{
					font-size: 2.5em;
				}
		}

}

/*********************
NAVIGATION STYLES
*********************/

.nav {}

	/* .menu is clearfixed inside mixins.scss */
	.menu {
		ul {
			li {
				a {
					
					/*
					you can use hover styles here even though this size
					has the possibility of being a mobile device.
					*/
					&:hover, &:focus {
					
					}
				}
				
				&:first-child {}
				&:last-child {}
				
				/*
				plan your menus and drop-downs wisely.
				*/
				ul.sub-menu,
				ul.children {
					li {
						a {
							&:hover,
							&:focus {}
							&:link {}
						}
						&:first-child {}
						&:last-child {}
					}
				}
			} /* end .menu ul li */
			
			/* highlight current page */
			li.current-menu-item, 
			li.current_page_item,
			li.current-page-ancestor {
				a {}
			}  /* end current highlighters */
		} /* end .menu ul */
	} /* end .menu */

/*********************
POSTS & CONTENT STYLES
*********************/

/* entry content */
.entry-content {
			
	
	/* at this larger size, we can start to align images */
	.alignleft, img.alignleft { 
		margin-right: 1.5em; 
		display: inline; 
		float: left; 
	}
	.alignright, img.alignright { 
		margin-left: 1.5em; 
		display: inline; 
		float: right; 
	}
	.aligncenter, img.aligncenter { 
		margin-right: auto; 
		margin-left: auto; 
		display: block; 
		clear: both; 
	}
			
} /* end .entry-content */

/*********************
FOOTER STYLES
*********************/
	
/*
check your menus here. do they look good?
do they need tweaking?
*/
.footer-links {
	ul {
		li {}
	}
} /* end .footer-links */
			
