/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

------------ MAP ------------

01. GENERAL STYLES
02. WORDPRESS BODY CLASSES
03. LAYOUT & GRID STYLES
04. LINK STYLES
05. H1, H2, H3, H4, H5 STYLES
06. HEADER STYLES
07. NAVIGATION STYLES
08. POSTS & CONTENT STYLES
09. PAGE NAVI STYLES
10. COMMENT STYLES
11. COMMENT FORM STYLES
12. SIDEBARS & ASIDES
13. FOOTER STYLES

******************************************************************/




/*********************
01. GENERAL STYLES
*********************/

html, body {
	height: 100%;
}
body {
	font-family: @serif;
	font-size: 100%;
	line-height: 1.5;
	color: #565656;
	background: #fff;
}

html, body, #container, #content{ height: 100%;}  /*min-height*/

#inner-content{ min-height: 100%; /* position: relative; */}  // position is for stellar offset  

#inner-header, #inner-content, #inner-footer{
	background: #fff;
}

/*********************
03. LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

#container {

	.mbal-centre{   /* Separate from grid */
			padding:	0px 22px 22px 22px;		
	}
}

	
.home{
	
	article.home-logo{
		section{
			.vertical-align();
			
			width:100%;
			padding: 22px;
			
			img{ width: 100%; height:auto; margin:0 auto;  display: block;}
		}
	}

	article{
		position:relative;
		margin-bottom: 0px;
		
		width:100%;
		height:752px;
		background-attachment:fixed;
		background-position: 50% 109px;
		background-repeat:no-repeat;
		
		//background-size:1368px 902.4px;
	
		header{
			z-index: 8999;
			
			position:absolute;
			width:100%;
			padding: 22px;
			top: 0px;
			left: 0px;
			background: url('../images/frame_top.PNG');
			background-repeat:no-repeat;
			background-size: 22px 32px;
			background-position: calc(~'100% - 22px') 22px; 	
			min-height: 40px; //For when title is blank
		}
		
		section{
			
			#parallax-image{
				width:100%;
				height:752px;
				background-attachment: scroll;
				background-position: 50% 50%;
				background-repeat:no-repeat;
			}
			
			.thumbnail-link{ display:block; background: @mbal-blue; margin: 0px;}
		}	
		
		footer{
			position:absolute;
			width:100%;
			padding: 22px;
			bottom: 0px;
			right: 0px;
			
			background: url('../images/frame_bottom.PNG');
			background-repeat:no-repeat;
			background-size: 22px 32px;
			background-position: 22px calc(~'100% - 22px'); 	
			
			min-height: 80px; //For when title is blank
		}
		
		// on hover, click, mobile tap color 
				
		&:focus, &:active  { // &:link &:hover
			 #parallax-image{
				zoom: 1;
				filter: alpha(opacity=45);
				opacity: 0.45;
			}
		}
	}
		
}

	
	
/*Archive General Styles*/

/*
.tax-mbal_exhibition_cat.term-actuelles, 
.tax-mbal_exhibition_cat.term-a-venir, 
.tax-mbal_exhibition_cat.term-archives,
*/

.tax-mbal_exhibition_cat,
.tax-mbal_boutique_tag, 
.page-template-page-boutique-php{

		article{
			position:relative;
			width:100%;	margin: 0 0 7px 0;
			
			header{
				z-index: 8999;
			
				position:absolute;
				top:10px;
				width: 100%;
				padding-left:10px;
				background: url('../images/frame_top.PNG');
				background-repeat:no-repeat;
				/*background-attachment:fixed;*/
				background-size: 14px 21px;
				background-position: calc(~'100% - 10px') 0px; 	
				
				min-height: 40px; /*For when title is blank*/
			}
			
			section{
				.thumbnail-link{ display:block; background: @mbal-blue;}
			}
				
			footer{
				position:absolute;
				bottom:10px;
				right:0px;
				width: 100%;
				padding-right: 10px;
				background: url('../images/frame_bottom.PNG');
				background-repeat:no-repeat;
				/*background-attachment:fixed;*/
				background-size: 14px 21px;
				background-position: 10px calc(~'100% - 4px'); 
				
				min-height: 40px; /*For when title is blank*/
			}
			
		
			/* on hover, click, mobile tap color */
				
			&:hover, &:focus, &:active, &:link  {
				 img{
					zoom: 1;
					filter: alpha(opacity=45);
					opacity: 0.45;
				}
			}
			
		}
		
}

/* Page type 1 Specifics*/

/*.single, .page*/
.page-template-default, .single-mbal_exhibitions, .single-mbal_boutiques{
	
	.mbal-centre{  
		article{
			position:inherit;
			margin-bottom: 22px;
			
			header{
				
				width:100%;
				position:relative;
			
				.next-link , .prev-link {
					position: absolute;
					a{
						display: block;
						border: 0;
						font: 0/0 a;
						text-shadow: none;
						color: transparent;
						background: url('../images/nav-sprite.jpg');
						background-size: 28px 23px;
						width: 12.5px;
						height: 23px;
					}
				}
				
				.prev-link {
					left:0px;
					top: 0px;
					a{ background-position: 0px 0px; }
				}
				
				.next-link {
					right: 0px; 
					top: 0px;
					a{ background-position: 13px 0px; }
				}
				
				
				.entry-title.single-title {
					margin-left: 20px;
					margin-right: 20px;
				}
			}
			
			
			/*section{
				img{ margin: 0px 0px 18px 0px; display: block;}
			}*/
			
			section.entry-content.image-wrapper{ margin-bottom: 22px;}
			section.entry-content.entry-gallery{
				margin-top: 22px;
				.image-caption{
					font-weight: regular;
					font-size: 12px;
					margin: 1em 0 3em;
				}	
			}	
			
			section.single-lower{}
			
			aside.single-lower{
				width:175px; float:none; padding-top: 22px;
				
				#mbal-social{
				
					width: 100%; 
					margin: 0;
					
					list-style-type:none;
				
					li{	float:left; width: 32px; margin-right:1px; 
					
						a{
							display: block;
							border: 0;
							font: 0/0 a;
							text-shadow: none;
							color: transparent;
							background: url('../images/social-sprite.jpg');
							width: 100%;
							height: 35px;
							background-size: 138px 32px;
							
						}
					}
					
					#pinterest-icon a{  background-position: 0px 0px;  }
					
					#facebook-icon a{  background-position: -36px 0px; }
					
					#twitter-icon a{  background-position: -72px 0px;  }
					
					#t-icon a{  background-position: 168px 0px; }				
				}
				
				#mbal-quote{ 
					h3{ margin: 7.1px 0 0 0; 
					*{margin: 0px}
					}
					*{
						-webkit-hyphens: none;
						-moz-hyphens: none;
						hyphens: none;
					}
	
				}
					
			}
			
				
			
			footer{
				position:inherit;
				width:100%;	
			}
			
		}
	}			
}	

.page-template-page-boutique-php{
	
	.mbal-centre{  
		article{
			position:relative;
			
			header, footer{position:absolute;}
		}
	}			
}	

/* Page type 2 Specifics*/

.tax-mbal_exhibition_cat.term-actuelles, 
.tax-mbal_exhibition_cat.term-a-venir{}


/* Page type 3 Specifics*/


section.entry-content.single-lower{ 
	> * {
		margin: 0.5em 0;
		padding: 0px;
	}
	
	ul, ol { margin-left: 22px;}
}

aside.entry-content.single-lower > * {
	margin: 0px;	
	padding: 0px;
}

section.entry-content.single-lower #entry-subtitles{
	
	padding-bottom:10px;
	margin: 0;

	> *{
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 0px;
		padding-bottom: 0px;
	}
		
}


//Responsive Google Maps - see scripts.js

//iframe{max-width: 100%;}

#map-info{height:100px;}

/*
.map-container {
    position: relative;
    padding-bottom: 26.25%  !important;
    padding-top: 30px !important;
	padding-bottom: 66.25%  !important;
    padding-top: 140px !important; 
    height: 0;
    overflow: hidden;
}

.map-container iframe,  
.map-container object, 
.map-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
*/

/*********************
04. LINK STYLES
*********************/

a, a:visited {
	color: @link-color;
	outline: 0 !important; // removes dotted line on selected link

	/* on hover */
	&:hover, &:focus {
		color: @link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
05. H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: @sans-serif;
	text-rendering: optimizelegibility;
	font-weight: 400;
	color: @mbal-blue; 
	
	/*
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	*/
	
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	
	a, a:visited {
		text-decoration: none;
		color: @mbal-blue;
		display: block;
		
	/* on hover */
	&:hover, &:focus {
		/*color: @mbal-blue;*/
		color: @link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}
}
h2.agenda-past-events {
  font-size:1.5em;
  margin-bottom: 10px;
}

.search-results .article-header{padding-top: 30px;}

.entry-content { 
	h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	line-height: 1em;
	}
}

#post-not-found{
	h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	
	}
	
}


h1, .h1 {
	font-size: 1.8em;
	line-height: 0.9em;
	margin: 0 0 22px 0;
}

h2, .h2{font-size: 1.75em;}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1em;
	font-weight: 400;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}


/*
.tax-mbal_exhibition_cat.term-actuelles, 
.tax-mbal_exhibition_cat.term-a-venir, 
.tax-mbal_exhibition_cat.term-archives,
*/

.home, 
.tax-mbal_exhibition_cat,
.tax-mbal_boutique_tag, 
.page-template-page-boutique-php {
	
	article{ 
	
		header{
			h1, .h1 {width: 70%;}
		}
		
		h1, .h1 { 
			
			color: #fff; margin: 0px; 
			
			/* on hover , on click , mobile tap color */
			
			a, a:hover, a:visited, a:focus, a:active, a:link{
				color: @white !important; 
			}
			
		}
		
		h1.archive-title{ margin-bottom: 22px; }
		
		footer{
			h1{ text-align:right; }
		}
	}
	
}

/*
.tax-mbal_exhibition_cat.term-actuelles, 
.tax-mbal_exhibition_cat.term-a-venir,
.tax-mbal_exhibition_cat.term-archives,
*/

.tax-mbal_exhibition_cat,
.tax-mbal_boutique_tag, 
.page-template-page-boutique-php{

		article{
		
			h1, .h1	{
					font-size: 1.4em;
					padding-left:0px;
				}
		}

}


/*.single, .page*/
.page-template-default, .single-mbal_exhibitions, .single-mbal_boutiques{

	article{
	
		header{
			h1{margin: -0.3px 0px 22px 0px; }
		}
		
		section{
			h1, .h1 {margin: 0px 0px 0px 0px;}
		}	
		
	}			
}
/*********************
06. HEADER STYLES
*********************/

.header {
	
	position: fixed;
    width: 100%;
    z-index: 9999;

	#inner-header { min-height: 109px; padding: 22px 0px 0px 0px; position:relative;

	#logo {	position:absolute; top: 22px; left: 22px; font-size:1em;
	
		a{  
		display: block;
		border: 0;
	    font: 0/0 a;
	    text-shadow: none;
	    color: transparent;
	    background: url('../images/logo.jpg');
		background-size: 63px 65px;
	    width: 63px;
	    height: 65px;
		}
		
	}
	
	nav { line-height: 0.8em;	padding: 0px 22px 22px 22px;
			
			ul { margin: 0px;
				li {	
					a { padding: 9px 0px 4px 0px; }
					
					.sub-menu{	
						li {	
							a { font-size: 11px; padding: 0px 0px 0px 0px !important; } /*padding: 0 53px 0 10px;*/
						}
					}
					
					&:first-child {}
	
					&:last-child {}
				}
			}
	}
	
	
	/* ul.top-nav > li:last-child a{padding: 0px !important;} */
	
	section.tools{ 
		
		position: absolute; top: 20px;	right:22px; width:134px; padding: 0px 0px 0px 0px;
		
		#menu-button, #menu-button:visited {
			float: left;
			background: url('../images/menu.jpg');
			background-position: 0px 0px;
			background-size: 70px 35px;
			display: block;
			width: 35px;
			height: 25px;
			/*margin: 0 auto;*/
			cursor: pointer;
			
			/* on hover */
			&:hover, &:focus {
				background-position: 35px 0px;
			}

			/* on click */
			&:active {
				zoom: 1;
				filter: alpha(opacity=75);
				opacity: 0.75;
			}

			/* mobile tap color */
			&:link {
				/* this highlights links on iPhones/iPads. so it basically works like the :hover selector for mobile devices. */
				background-position: 35px 0px;
			}
		}
	
	
		ul{ 
			height:17px; 
			padding: 0; 
			margin-right:10px;
			margin-top: 0px;
			margin-bottom: 3px;
		    float: right;
			
			li{ 
				display: inline;
				font-family: @sans-serif; font-size: 12px;
				line-height: 0; color: @mbal-blue; 
				text-transform:uppercase;
				padding: 0 2px 0 0;
			}
				a{ text-decoration:none; }
			}
		
		h2{ 
		  font-size: 10px; line-height: 0; text-align: left; color: @mbal-blue;
		  /*width: 75px;*/ margin: 9px 0px 0px 0px; float: left;
		  a{ color: @mbal-blue; }
		}
		
		#f-icon, #i-icon{ 
			display: block;
			border: 0;
			font: 0/0 a;
			text-shadow: none;
			color: transparent;
			background-image: url('../images/top-sprite.jpg');
			width: 18px;  
			height: 18px;
			float:right;
			background-size: 36px 18px;
			margin-top: 0px;
		}
		
		#f-icon{
			background-position: 0px 0px;
			margin-right: 1px;
		}
		
		#i-icon{
			background-position: 18px 0px;
		}
		
		
		#searchform {
		    
			float: left; margin: 7px 0 0; width: 100%;
			
			#s{ float: left; width: 100%; padding-left:5px; font-size: 10px; color: @mbal-blue; border: 1px solid; }
			#searchsubmit{display:none;}
		}
		
		.newsletter-link {
      font-size: 12px;
      text-decoration: none;
      text-transform: uppercase;
      font-family: "mbalbold","Helvetica Neue",Helvetica,Arial,sans-serif;
      margin-top: 7px;
      display: block;
      clear: both;
      float: left;
    }
	
	}
	
	
	}
}

/*********************
07. NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {
	font-family: @sans-serif;
	/*border: 1px solid #ccc;*/
	border-bottom: 0;
	font-size:17px;

	li {

		a {
			display: block;
			text-decoration: none;
			padding: 10px 10px;
			
			

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children { font-size:12px;

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */


/*********************
08. POSTS & CONTENT STYLES
*********************/

#content {	position: absolute;  top: 109px; width: 100%; 
	
	#inner-content { 
	#main  { /*padding-bottom: 122px;*/}
	}
}

		.hentry {

			header {}

			footer {}

		} /* end .hentry */

		.single-title,
		.page-title {}

		.single-title {}

		.page-title {}

		.archive-title { }

		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {}            /* general post style */
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */
		.sticky {}          /* sticky post style */
		.hentry {}          /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
			color: #999;

			time {}
		}

		/* entry content */
		.entry-content { 
			
			
			font-size: 14px;
			color: @mbal-blue; 
			line-height: 1.2em;

			p {}

			i, dfn, em, .em{font-size: 13px;}
			
			ul, ol, table, dl {}

			ul, ol { margin-left: 22px;

				li {}

			}

			ul { list-style-type: square;

				li {}

			}

			ol {

				li {}

			}

			blockquote {

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}
			
			img {
				/*max-width: 100%;*/
				width: 100%;
				height: auto;
				margin: 0;
				display: block;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			video, object {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: #eee;
				border: 1px solid #cecece;
				padding: 10px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #fff;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: left;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

/******************************************************************
09. PAGE NAVI STYLES
******************************************************************/

.page-navigation,
.wp-prev-next {
	margin: 1.1em 0 2.2em;
}
	.bones_page_navi {

		li {
			float: left;
			margin-left: 10px;

			a {
				padding: 3px 6px;
				display: block;
				text-decoration: none;
				position: relative;

				&:hover,
				&:focus {
					color: #f01d4f;
					text-decoration: underline;
				}
			}

		}

		/* current page link */
		li.bpn-current {
			padding: 3px 6px;
			border-bottom: 2px solid #f01d4f;
			position: relative;

			a {
				/* hovering on current page link */
				&:hover,
				&:focus {}

			}

		} /* end .bones_page_navi .bpn-current */

		/* common styles for page-navi links */
		li.bpn-prev-link,
		li.bpn-next-link {
			font-weight: 700;

			a {
				padding: 0;
			}
		}

		/* remove the bg on end links */
		li.bpn-prev-link a:hover,
		li.bpn-next-link a:hover,
		li.bpn-first-page-link a:hover,
		li.bpn-last-page-link a:hover {
			background: none;
		}

		/* previous link */
		li.bpn-prev-link {
			a {
				&:hover,
				&:focus {}
			}
		}

		/* next page link */
		li.bpn-next-link {
			a {
				&:hover,
				&:focus {}
			}
		}

		/* first page link */
		li.bpn-first-page-link {
			a {
				&:hover,
				&:focus {}
			}
		}

		/* last page link */
		li.bpn-last-page-link {
			a {
				&:hover,
				&:focus {}
			}
		}

	} /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
10. COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments {

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {

	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		} /* end .commentlist li ul.children */
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-right: -10px;
		margin-left: -10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {}
	li.depth-4 {}
	li.depth-5 {}

	/* general comment classes */
	.alt {}
	.odd {
		background: #eee;
	}
	.even {
		background: #fefefe;
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} /* end .commentlist .vcard */


	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {
		margin-left: 50px;

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		text-decoration: none;
		float: right;
		background: #4598bb;
		padding: 3px 5px;
		color: #fff;
		opacity: 0.65;
		margin-bottom: 10px;
		font-weight: 700;
		font-size: 0.9em;

		&:hover,
		&:focus {
			opacity: 1;
		}

	} /* end .commentlist .comment-reply-link */

} /* end .commentlist */

/******************************************************************
11. COMMENT FORM STYLES
******************************************************************/

.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			/* form validation */
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

	/* comment submit button */
	#submit {}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
12. SIDEBARS & ASIDES
*********************/

.sidebar {}

	.widgettitle {}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

/*********************
13. FOOTER STYLES
*********************/

.footer {	
	background: #fff;
	//display: block;
	position: fixed;
	height:	0px;
	bottom: 0;
	width: 100%;
	z-index: 9999;
	clear: both;
	#inner-footer {
	}
	nav {
		ul.nav {
			li {
				a {}

				&:first-child {}

				&:last-child {}
			}
		}
	}
}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {}

