.page-id-3738 article header h1 {
  font-size: 2.4em !important;
}
.mc4wp-form-3658 {
  width: 320px;
}
.mc4wp-form-3658 p {
  display:block;
  width: 100%;
}
.mc4wp-form-3658 label {
  display:block;
  width: 100%;
}
.red-required {
  color: #f00;
}
.mc4wp-form-3658 input {
  display:block;
  width: 100%;
  margin-top: 5px;
  border: 1px solid #1b3f94;
}
.mc4wp-form-3658 input[type="submit"] {
  display:block;
  width: auto;
  background-color: #1b3f94;
  padding: 8px 20px;
  border: none;
  color: #fff;
  font-family: "mbalbold","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.mc4wp-alert p {
  font-family: "mbalbold","Helvetica Neue",Helvetica,Arial,sans-serif;
}
