/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	max-width: 1140px;
}

#container {

	.mbal-centre{   /* Separate from grid */
	
		padding: 0px;
		width:504px;
		margin:0 auto;
					
	}
}


.home{

	article.home-logo{
		section{
		
			width:490px;
			margin: 0 auto;
			padding: 0;
			
		}
	}

	article{
		position:relative;
		
		h1{font-size: 55px; line-height: 1em;}
		
		header{
			padding: 0px 0px 0px 10px;
			width:490px;
			margin:0 auto;
			top: 78px;
			left: 0px;
			right: 0px;
			background-size: 33px 48px;
			background-position: 100% 8px; 
		}
		
		footer{
			padding: 0px ;
			width:495px;
			margin:0 auto;
			bottom: 120px;
			left: 0px;
			right: 0px;
			background-size: 33px 48px;
			background-position: 10px calc(~'100% - 8px'); 
		}
	}			
}

/*Archive General Styles*/

.tax-mbal_exhibition_cat, .tax-mbal_boutique_tag{ 

}

.tax-mbal_exhibition_cat.term-actuelles, .tax-mbal_exhibition_cat.term-a-venir{
	article{
		margin: 0 0 22px 0;
	}
}



	
/* Page type 1 Specifics*/


/*.single, .page*/
.page-template-default, .single-mbal_exhibitions, .single-mbal_boutiques{
		
	.mbal-centre{  
 
		article header > *, article section > *, article footer > *{  /*All direct child descendants*/
			/*  padding-left:10px; */
		}
		
		article section {
			.thumbnail-link, img, .flexslider{ 
				padding:0px !important; /* Exclude padding on grid */
			} 
		}
		
		article{
			
			header{			
				position:relative;
				
				.next-link , .prev-link {
					
					a{
						background-size: 46px 38px;
						width: 23px;
						height: 38px;
					}
					
				}
				
				.prev-link { left:-62px; top: 4px;}
				.next-link { right:-62px; top: 4px;
					a{background-position: 23px 0px; }
				}
				
				.entry-title.single-title {
					margin-left: 0px;
					margin-right: 0px;
				}
			}
			
			section.single-lower aside.single-lower{padding-left: 0px;}
		}
		
	}
	
}

.page-template-page-boutique-php{
	
	.mbal-centre{  
		
		article header > *, article section > *, article footer > *{  /*All direct child descendants*/
			padding-left:0px;
		}
		
	
		article{
			position:relative;
			
			header, footer{position:absolute;}
		}
	}			
}	



/* Page type 2 Specifics*/

.tax-mbal_exhibition_cat.term-actuelles, .tax-mbal_exhibition_cat.term-a-venir{}


/* Page type 3 Specifics*/

.tax-mbal_exhibition_cat.term-archives, .tax-mbal_boutique_tag, .page-template-page-boutique-php  {
	.mbal-centre{
	
		article{
			float:left; width:49.5%; margin-right: 1%;
			
			h1, .h1	{
				font-size: 1.4em;
			}
			
			header{				
				background-size: 14px 21px;
				background-position: calc(~'100% - 10px') 0px; 	
			}
			
			footer{			
				background-size: 14px 21px;
				background-position: 10px calc(~'100% - 4px'); 
			}
			
		}
		
		article:nth-of-type(2n){
			margin-right: 0;
		}
	} 
}


/* Page type 3 Specifics*/

.tax-mbal_exhibition_cat.term-archives, 
.tax-mbal_boutique_tag, 
.page-template-page-boutique-php  {
	.entry-content .thumbnail-link { height: 165px; overflow:hidden;}
}


/* Temp image fix 

section.entry-content.image-wrapper{
	
	img{
	 min-height:100%;
	}
}
*/

/******************************************************************
05. H1, H2, H3, H4, H5 STYLES
******************************************************************/


h1, .h1 {
	margin: 0 0 30px 0;
	font-size: 2.5em;
	line-height: 1.0em !important;

}
	

.home,
.tax-mbal_exhibition_cat,
.tax-mbal_boutique_tag,
.page-template-page-boutique-php {
	
	h1.archive-title, h1.page-title{ margin-bottom: 30px; padding: 0 0 0 0px; }
	
	article{
		
		header{
			h1, .h1 {width: 100%;}
		}
	
		h1, .h1 { margin:0; word-spacing:600px; }
	}
}

.tax-mbal_exhibition_cat,
.tax-mbal_boutique_tag,
.page-template-page-boutique-php{

		article{
			h1, .h1	{
					font-size: 2.5em;
				}
		}

}

.single, .page{

	article{
		
		header{
			h1{ font-size: 3.2em;}
		}
		
		section{
			h1, .h1 {	margin: 0px 0px 0px 0px; font-size: 3em;}
		}	
		
	}			
}
	

/*********************
HEADER STYLES
*********************/

.header {
	position: fixed;
    top: 0;
	
	#inner-header {
		height: 109px; padding: 22px 0px 22px 0px;

		ul.top-nav > li a{ padding: 0 14px 5px 0px; line-height: 9.5pt;}
		
		ul.top-nav > li:last-child a{padding-right: 0px !important;}
		
		
		
		nav { 
			width:504px;
			position: relative;
			top: 0px;
			padding: 0px 0px 0px 0px;
			line-height: 0.8em !important;	
			margin:0 auto;
		}
		
		#logo {	left: 0px; }
	
		section.tools{ 
			right:0px; width:104px;
			
			#menu-button{display: none;}
			
			ul{ float: left; }
			
			#f-icon, #i-icon{ 
				/*background-image: url('../images/top-sprite-small.jpg');*/
			}
		
		}
		
	
	}
}	



/*********************
NAVIGATION STYLES
*********************/

.nav {
	/*background: #eee;*/
	border: 0;

	li {
		float: left;


		position: relative;

		a {
			border-bottom: 0;

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {
				/*background-color: #dedede;*/

			}
		}

		&:first-child {}
		&:last-child {}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			/*border: 1px solid #ccc;*/
			border-top: 0;
			position: absolute;
			display: none;
			z-index: 8999;

			li {

				a {
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 180px;
					/*border-bottom: 1px solid #ccc;*/
					padding-bottom:0px;

					&:hover,
					&:focus {}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current-page-ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover ul {
			top: auto;
			display: block;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */

/*********************
08. POSTS & CONTENT STYLES
*********************/

#content {  }

/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links {
	ul {
		li {
			a {
				&:hover {}
			}
			/*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul {}
		}
	}
} /* end .footer-links */

