/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/
#container .mbal-centre {
  /* Separate from grid */

  width: 684px;
}
.header #inner-header ul.top-nav > li a {
  padding: 0 30px 5px 0px;
}
.header #inner-header nav {
  padding: 0 0 0 16px;
  width: 694px;
}
.header #inner-header .nav {
  font-size: 22px;
}
body.home article.home-logo section {
  width: 684px;
}
body.home article {
  position: relative;
}
body.home article header h1,
body.home article footer h1 {
  font-size: 75px;
  line-height: 1em;
}
body.home article header {
  width: 684px;
  background-position: 100% 13px;
}
body.home article footer {
  width: 683px;
  background-position: 10px calc(100% - 13px);
}
/* Page type 1 Specifics*/
/*.single, .page*/
.page-template-default .mbal-centre article,
.single-mbal_exhibitions .mbal-centre article,
.single-mbal_boutiques .mbal-centre article {
  position: inherit;
  margin-bottom: 22px;
}
.page-template-default .mbal-centre article section.single-lower,
.single-mbal_exhibitions .mbal-centre article section.single-lower,
.single-mbal_boutiques .mbal-centre article section.single-lower {
  width: 495px;
  margin-right: 10px;
  float: left;
}
.page-template-default .mbal-centre article aside.single-lower,
.single-mbal_exhibitions .mbal-centre article aside.single-lower,
.single-mbal_boutiques .mbal-centre article aside.single-lower {
  float: right;
  padding-top: 0px;
}
.page-template-default .mbal-centre article aside.single-lower #mbal-social,
.single-mbal_exhibitions .mbal-centre article aside.single-lower #mbal-social,
.single-mbal_boutiques .mbal-centre article aside.single-lower #mbal-social {
  width: 100%;
  margin: 0;
  list-style-type: none;
}
.page-template-default .mbal-centre article aside.single-lower #mbal-social li,
.single-mbal_exhibitions .mbal-centre article aside.single-lower #mbal-social li,
.single-mbal_boutiques .mbal-centre article aside.single-lower #mbal-social li {
  float: left;
  width: 42px;
  margin-right: 1px;
}
.page-template-default .mbal-centre article aside.single-lower #mbal-social li a,
.single-mbal_exhibitions .mbal-centre article aside.single-lower #mbal-social li a,
.single-mbal_boutiques .mbal-centre article aside.single-lower #mbal-social li a {
  height: 45px;
  background-size: 185px 44px;
}
.page-template-default .mbal-centre article aside.single-lower #mbal-social #pinterest-icon a,
.single-mbal_exhibitions .mbal-centre article aside.single-lower #mbal-social #pinterest-icon a,
.single-mbal_boutiques .mbal-centre article aside.single-lower #mbal-social #pinterest-icon a {
  background-position: 0px 0px;
}
.page-template-default .mbal-centre article aside.single-lower #mbal-social #facebook-icon a,
.single-mbal_exhibitions .mbal-centre article aside.single-lower #mbal-social #facebook-icon a,
.single-mbal_boutiques .mbal-centre article aside.single-lower #mbal-social #facebook-icon a {
  background-position: -47px 0px;
}
.page-template-default .mbal-centre article aside.single-lower #mbal-social #twitter-icon a,
.single-mbal_exhibitions .mbal-centre article aside.single-lower #mbal-social #twitter-icon a,
.single-mbal_boutiques .mbal-centre article aside.single-lower #mbal-social #twitter-icon a {
  background-position: -95px 0px;
}
.page-template-default .mbal-centre article aside.single-lower #mbal-social #t-icon a,
.single-mbal_exhibitions .mbal-centre article aside.single-lower #mbal-social #t-icon a,
.single-mbal_boutiques .mbal-centre article aside.single-lower #mbal-social #t-icon a {
  background-position: -142px 0px;
}
.page-template-page-boutique-php .mbal-centre article {
  position: relative;
}
.page-template-page-boutique-php .mbal-centre article header,
.page-template-page-boutique-php .mbal-centre article footer {
  position: absolute;
}
/* Page type 3 Specifics

.tax-mbal_exhibition_cat.term-archives, 
.tax-mbal_boutique_tag, 
.page-template-page-boutique-php  {
	.entry-content .thumbnail-link { height: 224px; overflow:hidden;}
}
*/