/******************************************************************
Site Name: 
Author: 

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.less styles.

******************************************************************/
.home article h1 {
  font-size: 40px;
  line-height: 1em;
}
/*********************
03. LAYOUT & GRID STYLES
*********************/
/*Archive General Styles*/
.tax-mbal_exhibition_cat article header,
.tax-mbal_boutique_tag article header,
.page-template-page-boutique-php article header {
  background-size: 22px 32px;
  background-position: calc(100% - 12px) 6px;
}
.tax-mbal_exhibition_cat article footer,
.tax-mbal_boutique_tag article footer,
.page-template-page-boutique-php article footer {
  background-size: 22px 32px;
  background-position: 12px calc(100% - 5px);
}
/* Page type 1 Specifics*/
/*.single, .page*/
.page-template-default .mbal-centre article header .next-link,
.single-mbal_exhibitions .mbal-centre article header .next-link,
.single-mbal_boutiques .mbal-centre article header .next-link,
.page-template-default .mbal-centre article header .prev-link,
.single-mbal_exhibitions .mbal-centre article header .prev-link,
.single-mbal_boutiques .mbal-centre article header .prev-link {
  position: absolute;
}
.page-template-default .mbal-centre article header .next-link a,
.single-mbal_exhibitions .mbal-centre article header .next-link a,
.single-mbal_boutiques .mbal-centre article header .next-link a,
.page-template-default .mbal-centre article header .prev-link a,
.single-mbal_exhibitions .mbal-centre article header .prev-link a,
.single-mbal_boutiques .mbal-centre article header .prev-link a {
  background-size: 35px 29px;
  width: 14.5px;
  height: 29px;
}
.page-template-default .mbal-centre article header .prev-link,
.single-mbal_exhibitions .mbal-centre article header .prev-link,
.single-mbal_boutiques .mbal-centre article header .prev-link {
  left: 0px;
  top: 4px;
}
.page-template-default .mbal-centre article header .prev-link a,
.single-mbal_exhibitions .mbal-centre article header .prev-link a,
.single-mbal_boutiques .mbal-centre article header .prev-link a {
  background-position: 0px 0px;
}
.page-template-default .mbal-centre article header .next-link,
.single-mbal_exhibitions .mbal-centre article header .next-link,
.single-mbal_boutiques .mbal-centre article header .next-link {
  right: 0px;
  top: 4px;
}
.page-template-default .mbal-centre article header .next-link a,
.single-mbal_exhibitions .mbal-centre article header .next-link a,
.single-mbal_boutiques .mbal-centre article header .next-link a {
  background-position: 13px 0px;
}
/******************************************************************
05. H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1,
.h1 {
  margin: 0 0 30px 0;
  font-size: 2.5em;
  line-height: 1.0em !important;
}
.tax-mbal_exhibition_cat article h1,
.tax-mbal_boutique_tag article h1,
.page-template-page-boutique-php article h1,
.tax-mbal_exhibition_cat article .h1,
.tax-mbal_boutique_tag article .h1,
.page-template-page-boutique-php article .h1 {
  font-size: 2.5em;
}
/*********************
NAVIGATION STYLES
*********************/
/* .menu is clearfixed inside mixins.scss */
.menu {
  /* end .menu ul */

}
.menu ul {
  /* end .menu ul li */

  /* highlight current page */

  /* end current highlighters */

}
.menu ul li {
  /*
				plan your menus and drop-downs wisely.
				*/

}
.menu ul li a {
  /*
					you can use hover styles here even though this size
					has the possibility of being a mobile device.
					*/

}
/* end .menu */
/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
.entry-content {
  /* at this larger size, we can start to align images */

}
.entry-content .alignleft,
.entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
.entry-content .alignright,
.entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
.entry-content .aligncenter,
.entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}
/* end .entry-content */
/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
/* end .footer-links */
