/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/*********************
LAYOUT & GRID STYLES
*********************/
.wrap {
  max-width: 1140px;
}
#container .mbal-centre {
  /* Separate from grid */

  padding: 0px;
  width: 504px;
  margin: 0 auto;
}
.home article.home-logo section {
  width: 490px;
  margin: 0 auto;
  padding: 0;
}
.home article {
  position: relative;
}
.home article h1 {
  font-size: 55px;
  line-height: 1em;
}
.home article header {
  padding: 0px 0px 0px 10px;
  width: 490px;
  margin: 0 auto;
  top: 78px;
  left: 0px;
  right: 0px;
  background-size: 33px 48px;
  background-position: 100% 8px;
}
.home article footer {
  padding: 0px ;
  width: 495px;
  margin: 0 auto;
  bottom: 120px;
  left: 0px;
  right: 0px;
  background-size: 33px 48px;
  background-position: 10px calc(100% - 8px);
}
/*Archive General Styles*/
.tax-mbal_exhibition_cat.term-actuelles article,
.tax-mbal_exhibition_cat.term-a-venir article {
  margin: 0 0 22px 0;
}
/* Page type 1 Specifics*/
/*.single, .page*/
.page-template-default .mbal-centre article header > *,
.single-mbal_exhibitions .mbal-centre article header > *,
.single-mbal_boutiques .mbal-centre article header > *,
.page-template-default .mbal-centre article section > *,
.single-mbal_exhibitions .mbal-centre article section > *,
.single-mbal_boutiques .mbal-centre article section > *,
.page-template-default .mbal-centre article footer > *,
.single-mbal_exhibitions .mbal-centre article footer > *,
.single-mbal_boutiques .mbal-centre article footer > * {
  /*All direct child descendants*/

  /*  padding-left:10px; */

}
.page-template-default .mbal-centre article section .thumbnail-link,
.single-mbal_exhibitions .mbal-centre article section .thumbnail-link,
.single-mbal_boutiques .mbal-centre article section .thumbnail-link,
.page-template-default .mbal-centre article section img,
.single-mbal_exhibitions .mbal-centre article section img,
.single-mbal_boutiques .mbal-centre article section img,
.page-template-default .mbal-centre article section .flexslider,
.single-mbal_exhibitions .mbal-centre article section .flexslider,
.single-mbal_boutiques .mbal-centre article section .flexslider {
  padding: 0px !important;
  /* Exclude padding on grid */

}
.page-template-default .mbal-centre article header,
.single-mbal_exhibitions .mbal-centre article header,
.single-mbal_boutiques .mbal-centre article header {
  position: relative;
}
.page-template-default .mbal-centre article header .next-link a,
.single-mbal_exhibitions .mbal-centre article header .next-link a,
.single-mbal_boutiques .mbal-centre article header .next-link a,
.page-template-default .mbal-centre article header .prev-link a,
.single-mbal_exhibitions .mbal-centre article header .prev-link a,
.single-mbal_boutiques .mbal-centre article header .prev-link a {
  background-size: 46px 38px;
  width: 23px;
  height: 38px;
}
.page-template-default .mbal-centre article header .prev-link,
.single-mbal_exhibitions .mbal-centre article header .prev-link,
.single-mbal_boutiques .mbal-centre article header .prev-link {
  left: -62px;
  top: 4px;
}
.page-template-default .mbal-centre article header .next-link,
.single-mbal_exhibitions .mbal-centre article header .next-link,
.single-mbal_boutiques .mbal-centre article header .next-link {
  right: -62px;
  top: 4px;
}
.page-template-default .mbal-centre article header .next-link a,
.single-mbal_exhibitions .mbal-centre article header .next-link a,
.single-mbal_boutiques .mbal-centre article header .next-link a {
  background-position: 23px 0px;
}
.page-template-default .mbal-centre article header .entry-title.single-title,
.single-mbal_exhibitions .mbal-centre article header .entry-title.single-title,
.single-mbal_boutiques .mbal-centre article header .entry-title.single-title {
  margin-left: 0px;
  margin-right: 0px;
}
.page-template-default .mbal-centre article section.single-lower aside.single-lower,
.single-mbal_exhibitions .mbal-centre article section.single-lower aside.single-lower,
.single-mbal_boutiques .mbal-centre article section.single-lower aside.single-lower {
  padding-left: 0px;
}
.page-template-page-boutique-php .mbal-centre article header > *,
.page-template-page-boutique-php .mbal-centre article section > *,
.page-template-page-boutique-php .mbal-centre article footer > * {
  /*All direct child descendants*/

  padding-left: 0px;
}
.page-template-page-boutique-php .mbal-centre article {
  position: relative;
}
.page-template-page-boutique-php .mbal-centre article header,
.page-template-page-boutique-php .mbal-centre article footer {
  position: absolute;
}
/* Page type 2 Specifics*/
/* Page type 3 Specifics*/
.tax-mbal_exhibition_cat.term-archives .mbal-centre article,
.tax-mbal_boutique_tag .mbal-centre article,
.page-template-page-boutique-php .mbal-centre article {
  float: left;
  width: 49.5%;
  margin-right: 1%;
}
.tax-mbal_exhibition_cat.term-archives .mbal-centre article h1,
.tax-mbal_boutique_tag .mbal-centre article h1,
.page-template-page-boutique-php .mbal-centre article h1,
.tax-mbal_exhibition_cat.term-archives .mbal-centre article .h1,
.tax-mbal_boutique_tag .mbal-centre article .h1,
.page-template-page-boutique-php .mbal-centre article .h1 {
  font-size: 1.4em;
}
.tax-mbal_exhibition_cat.term-archives .mbal-centre article header,
.tax-mbal_boutique_tag .mbal-centre article header,
.page-template-page-boutique-php .mbal-centre article header {
  background-size: 14px 21px;
  background-position: calc(100% - 10px) 0px;
}
.tax-mbal_exhibition_cat.term-archives .mbal-centre article footer,
.tax-mbal_boutique_tag .mbal-centre article footer,
.page-template-page-boutique-php .mbal-centre article footer {
  background-size: 14px 21px;
  background-position: 10px calc(100% - 4px);
}
.tax-mbal_exhibition_cat.term-archives .mbal-centre article:nth-of-type(2n),
.tax-mbal_boutique_tag .mbal-centre article:nth-of-type(2n),
.page-template-page-boutique-php .mbal-centre article:nth-of-type(2n) {
  margin-right: 0;
}
/* Page type 3 Specifics*/
.tax-mbal_exhibition_cat.term-archives .entry-content .thumbnail-link,
.tax-mbal_boutique_tag .entry-content .thumbnail-link,
.page-template-page-boutique-php .entry-content .thumbnail-link {
  height: 165px;
  overflow: hidden;
}
/* Temp image fix 

section.entry-content.image-wrapper{
	
	img{
	 min-height:100%;
	}
}
*/
/******************************************************************
05. H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1,
.h1 {
  margin: 0 0 30px 0;
  font-size: 2.5em;
  line-height: 1.0em !important;
}
.home h1.archive-title,
.tax-mbal_exhibition_cat h1.archive-title,
.tax-mbal_boutique_tag h1.archive-title,
.page-template-page-boutique-php h1.archive-title,
.home h1.page-title,
.tax-mbal_exhibition_cat h1.page-title,
.tax-mbal_boutique_tag h1.page-title,
.page-template-page-boutique-php h1.page-title {
  margin-bottom: 30px;
  padding: 0 0 0 0px;
}
.home article header h1,
.tax-mbal_exhibition_cat article header h1,
.tax-mbal_boutique_tag article header h1,
.page-template-page-boutique-php article header h1,
.home article header .h1,
.tax-mbal_exhibition_cat article header .h1,
.tax-mbal_boutique_tag article header .h1,
.page-template-page-boutique-php article header .h1 {
  width: 100%;
}
.home article h1,
.tax-mbal_exhibition_cat article h1,
.tax-mbal_boutique_tag article h1,
.page-template-page-boutique-php article h1,
.home article .h1,
.tax-mbal_exhibition_cat article .h1,
.tax-mbal_boutique_tag article .h1,
.page-template-page-boutique-php article .h1 {
  margin: 0;
  word-spacing: 600px;
}
.tax-mbal_exhibition_cat article h1,
.tax-mbal_boutique_tag article h1,
.page-template-page-boutique-php article h1,
.tax-mbal_exhibition_cat article .h1,
.tax-mbal_boutique_tag article .h1,
.page-template-page-boutique-php article .h1 {
  font-size: 2.5em;
}
.single article header h1,
.page article header h1 {
  font-size: 3.2em;
}
.single article section h1,
.page article section h1,
.single article section .h1,
.page article section .h1 {
  margin: 0px 0px 0px 0px;
  font-size: 3em;
}
/*********************
HEADER STYLES
*********************/
.header {
  position: fixed;
  top: 0;
}
.header #inner-header {
  height: 109px;
  padding: 22px 0px 22px 0px;
}
.header #inner-header ul.top-nav > li a {
  padding: 0 14px 5px 0px;
  line-height: 9.5pt;
}
.header #inner-header ul.top-nav > li:last-child a {
  padding-right: 0px !important;
}
.header #inner-header nav {
  width: 504px;
  position: relative;
  top: 0px;
  padding: 0px 0px 0px 0px;
  line-height: 0.8em !important;
  margin: 0 auto;
}
.header #inner-header #logo {
  left: 0px;
}
.header #inner-header section.tools {
  right: 0px;
  width: 104px;
}
.header #inner-header section.tools #menu-button {
  display: none;
}
.header #inner-header section.tools ul {
  float: left;
}
.header #inner-header section.tools #f-icon,
.header #inner-header section.tools #i-icon {
  /*background-image: url('../images/top-sprite-small.jpg');*/

}
/*********************
NAVIGATION STYLES
*********************/
.nav {
  /*background: #eee;*/

  border: 0;
  /* end .menu ul li */

  /* highlight current page */

  /* end current highlighters */

}
.nav li {
  float: left;
  position: relative;
  /*
		plan your menus and drop-downs wisely.
		*/

  /* showing sub-menus */

}
.nav li a {
  border-bottom: 0;
  /*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/

}
.nav li a:hover,
.nav li a:focus {
  /*background-color: #dedede;*/

}
.nav li ul.sub-menu,
.nav li ul.children {
  margin-top: 0;
  /*border: 1px solid #ccc;*/

  border-top: 0;
  position: absolute;
  display: none;
  z-index: 8999;
  /* highlight sub-menu current page */

}
.nav li ul.sub-menu li,
.nav li ul.children li {
  /*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/

}
.nav li ul.sub-menu li a,
.nav li ul.children li a {
  padding-left: 10px;
  border-right: 0;
  display: block;
  width: 180px;
  /*border-bottom: 1px solid #ccc;*/

  padding-bottom: 0px;
}
.nav li ul.sub-menu li:last-child a,
.nav li ul.children li:last-child a {
  border-bottom: 0;
}
.nav li:hover ul {
  top: auto;
  display: block;
}
/* end .nav */
/*********************
08. POSTS & CONTENT STYLES
*********************/
/*********************
FOOTER STYLES
*********************/
/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links ul li {
  /*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/

}
/* end .footer-links */
