/******************************************************************
Site Name: 
Author: 

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/*
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't 
understand (what's inside the media queries). We also need to
import the mixins file so LESS can understand the variables.
*/
/* import mixins */
/******************************************************************
Site Name: 
Author: 

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of LESS' great features: 
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques like box shadow and
border-radius.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more. 

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*********************
TOOLS
*********************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.vertical-align {
  position: relative;
  top: 45%;
  -webkit-transform: translateY(-45%);
  -ms-transform: translateY(-45%);
  transform: translateY(-45%);
}
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TYPOGRAPHY
*********************/
/* 	To embed your own fonts, use this syntax
	and place your fonts inside the 
	library/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.
*/
@font-face {
  font-family: "mbalbold";
  src: url('../fonts/mbalbold/mbal-bold-webfont.eot');
  src: url('../fonts/mbalbold/mbal-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/mbalbold/mbal-bold-webfont.woff') format('woff'), url('../fonts/mbalbold/mbal-bold-webfont.ttf') format('truetype'), url('../fonts/mbalbold/mbal-bold-webfont.svg#mbalbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* 
use the best ampersand 
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
}
/* text alignment */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.alert {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
}
.alert-help {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #e8dc59;
  background: #ebe16f;
}
.alert-info {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #bfe4f4;
  background: #d5edf8;
}
.alert-error {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #f8cdce;
  background: #fbe3e4;
}
.alert-success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #deeaae;
  background: #e6efc2;
}
/*********************
BORDER RADIUS
*********************/
/* 
NOTE: For older browser support (and some mobile), 
don't use the shorthand to define *different* corners. 

USAGE: .border-radius(4px); 

*/
/*********************
TRANISTION
*********************/
/* .transition(all,2s); */
/*********************
CSS3 GRADIENTS
Be careful with these since they can 
really slow down your CSS. Don't overdo it.
*********************/
/* .css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SHADOW
*********************/
/* .boxShadow(0,0,4px,0,#444); */
/* .boxShadow(none); */
/*********************
BUTTONS
*********************/
.button,
.button:visited {
  border: 1px solid #be0d37;
  border-top-color: #db0f3f;
  border-left-color: #db0f3f;
  padding: 4px 12px;
  color: #ffffff;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #e40f42;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f01d4f), to(#e40f42));
  background-image: -webkit-linear-gradient(top, #f01d4f, #e40f42);
  background-image: -moz-linear-gradient(top, #f01d4f, #e40f42);
  background-image: -o-linear-gradient(top, #f01d4f, #e40f42);
  background-image: linear-gradient(to bottom, #f01d4f, #e40f42);
}
.button:hover,
.button:visited:hover,
.button:focus,
.button:visited:focus {
  color: #ffffff;
  border: 1px solid #be0d37;
  border-top-color: #9d0a2d;
  border-left-color: #9d0a2d;
  background-color: #cc0e3b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e40f42), to(#cc0e3b));
  background-image: -webkit-linear-gradient(top, #e40f42, #cc0e3b);
  background-image: -moz-linear-gradient(top, #e40f42, #cc0e3b);
  background-image: -o-linear-gradient(top, #e40f42, #cc0e3b);
  background-image: linear-gradient(to bottom, #e40f42, #cc0e3b);
}
.button:active,
.button:visited:active {
  background-color: #f01d4f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e40f42), to(#f01d4f));
  background-image: -webkit-linear-gradient(top, #e40f42, #f01d4f);
  background-image: -moz-linear-gradient(top, #e40f42, #f01d4f);
  background-image: -o-linear-gradient(top, #e40f42, #f01d4f);
  background-image: linear-gradient(to bottom, #e40f42, #f01d4f);
}
.blue-button,
.blue-button:visited {
  border-color: #1472ad;
  text-shadow: 0 1px 1px #1472ad;
  background-color: #1681c4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1990db), to(#1681c4));
  background-image: -webkit-linear-gradient(top, #1990db, #1681c4);
  background-image: -moz-linear-gradient(top, #1990db, #1681c4);
  background-image: -o-linear-gradient(top, #1990db, #1681c4);
  background-image: linear-gradient(to bottom, #1990db, #1681c4);
  -webkit-box-shadow: inset 0 0 3px #59b3ec;
  -moz-box-shadow: inset 0 0 3px #59b3ec;
  box-shadow: inset 0 0 3px #59b3ec;
}
.blue-button:hover,
.blue-button:visited:hover,
.blue-button:focus,
.blue-button:visited:focus {
  border-color: #116396;
  background-color: #1472ad;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1784c9), to(#1472ad));
  background-image: -webkit-linear-gradient(top, #1784c9, #1472ad);
  background-image: -moz-linear-gradient(top, #1784c9, #1472ad);
  background-image: -o-linear-gradient(top, #1784c9, #1472ad);
  background-image: linear-gradient(to bottom, #1784c9, #1472ad);
}
.blue-button:active,
.blue-button:visited:active {
  background-color: #1990db;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1681c4), to(#1990db));
  background-image: -webkit-linear-gradient(top, #1681c4, #1990db);
  background-image: -moz-linear-gradient(top, #1681c4, #1990db);
  background-image: -o-linear-gradient(top, #1681c4, #1990db);
  background-image: linear-gradient(to bottom, #1681c4, #1990db);
}
/******************************************************************
Site Name: 
Author: 

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.less styles.

******************************************************************/
.home article h1 {
  font-size: 40px;
  line-height: 1em;
}
/*********************
03. LAYOUT & GRID STYLES
*********************/
/*Archive General Styles*/
.tax-mbal_exhibition_cat article header,
.tax-mbal_boutique_tag article header,
.page-template-page-boutique-php article header {
  background-size: 22px 32px;
  background-position: calc(100% - 12px) 6px;
}
.tax-mbal_exhibition_cat article footer,
.tax-mbal_boutique_tag article footer,
.page-template-page-boutique-php article footer {
  background-size: 22px 32px;
  background-position: 12px calc(100% - 5px);
}
/* Page type 1 Specifics*/
/*.single, .page*/
.page-template-default .mbal-centre article header .next-link,
.single-mbal_exhibitions .mbal-centre article header .next-link,
.single-mbal_boutiques .mbal-centre article header .next-link,
.page-template-default .mbal-centre article header .prev-link,
.single-mbal_exhibitions .mbal-centre article header .prev-link,
.single-mbal_boutiques .mbal-centre article header .prev-link {
  position: absolute;
}
.page-template-default .mbal-centre article header .next-link a,
.single-mbal_exhibitions .mbal-centre article header .next-link a,
.single-mbal_boutiques .mbal-centre article header .next-link a,
.page-template-default .mbal-centre article header .prev-link a,
.single-mbal_exhibitions .mbal-centre article header .prev-link a,
.single-mbal_boutiques .mbal-centre article header .prev-link a {
  background-size: 35px 29px;
  width: 14.5px;
  height: 29px;
}
.page-template-default .mbal-centre article header .prev-link,
.single-mbal_exhibitions .mbal-centre article header .prev-link,
.single-mbal_boutiques .mbal-centre article header .prev-link {
  left: 0px;
  top: 4px;
}
.page-template-default .mbal-centre article header .prev-link a,
.single-mbal_exhibitions .mbal-centre article header .prev-link a,
.single-mbal_boutiques .mbal-centre article header .prev-link a {
  background-position: 0px 0px;
}
.page-template-default .mbal-centre article header .next-link,
.single-mbal_exhibitions .mbal-centre article header .next-link,
.single-mbal_boutiques .mbal-centre article header .next-link {
  right: 0px;
  top: 4px;
}
.page-template-default .mbal-centre article header .next-link a,
.single-mbal_exhibitions .mbal-centre article header .next-link a,
.single-mbal_boutiques .mbal-centre article header .next-link a {
  background-position: 13px 0px;
}
/******************************************************************
05. H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1,
.h1 {
  margin: 0 0 30px 0;
  font-size: 2.5em;
  line-height: 1.0em !important;
}
.tax-mbal_exhibition_cat article h1,
.tax-mbal_boutique_tag article h1,
.page-template-page-boutique-php article h1,
.tax-mbal_exhibition_cat article .h1,
.tax-mbal_boutique_tag article .h1,
.page-template-page-boutique-php article .h1 {
  font-size: 2.5em;
}
/*********************
NAVIGATION STYLES
*********************/
/* .menu is clearfixed inside mixins.scss */
.menu {
  /* end .menu ul */
}
.menu ul {
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
.menu ul li {
  /*
				plan your menus and drop-downs wisely.
				*/
}
.menu ul li a {
  /*
					you can use hover styles here even though this size
					has the possibility of being a mobile device.
					*/
}
/* end .menu */
/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
.entry-content {
  /* at this larger size, we can start to align images */
}
.entry-content .alignleft,
.entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
.entry-content .alignright,
.entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
.entry-content .aligncenter,
.entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}
/* end .entry-content */
/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
/* end .footer-links */
/* import grid */
/******************************************************************
Site Name:
Author:

Stylesheet: Grid Stylesheet

I've seperated the grid so you can swap it out easily. It's
called at the top the style.less stylesheet.

There are a ton of grid solutions out there. You should definitely
experiment with your own. Here are some recommendations:

http://gridsetapp.com - Love this site. Responsive Grids made easy.
http://gridpak.com/ - Create your own responsive grid.

The grid below is a combination of the 1140 grid and Twitter Boostrap. 
I liked 1140 but Boostrap's grid was way more detailed so I merged them 
together, let's see how this works out. If you want to use 1140, the original 
values are commented out on each line.

******************************************************************/
.onecol {
  width: 5.801104972%;
}
/* 4.85%;  } /* grid_1  */
.twocol {
  width: 14.364640883%;
}
/* 13.45%; } /* grid_2  */
.threecol {
  width: 22.928176794%;
}
/* 22.05%; } /* grid_3  */
.fourcol {
  width: 31.491712705%;
}
/* 30.75%; } /* grid_4  */
.fivecol {
  width: 40.055248616%;
}
/* 39.45%; } /* grid_5  */
.sixcol {
  width: 48.618784527%;
}
/* 48%;    } /* grid_6  */
.sevencol {
  width: 57.182320438000005%;
}
/* 56.75%; } /* grid_7  */
.eightcol {
  width: 65.74585634900001%;
}
/* 65.4%;  } /* grid_8  */
.ninecol {
  width: 74.30939226%;
}
/* 74.05%; } /* grid_9  */
.tencol {
  width: 82.87292817100001%;
}
/* 82.7%;  } /* grid_10 */
.elevencol {
  width: 91.436464082%;
}
/* 91.35%; } /* grid_11 */
.twelvecol {
  width: 99.999999993%;
}
/* 100%;   } /* grid_12 */
.onecol,
.twocol,
.threecol,
.fourcol,
.fivecol,
.sixcol,
.sevencol,
.eightcol,
.ninecol,
.tencol,
.elevencol,
.twelvecol {
  position: relative;
  float: left;
  margin-left: 2.762430939%;
}
.first {
  margin-left: 0;
}
.last {
  float: right;
}
/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/*********************
LAYOUT & GRID STYLES
*********************/
.wrap {
  max-width: 1140px;
}
#container .mbal-centre {
  /* Separate from grid */
  padding: 0px;
  width: 504px;
  margin: 0 auto;
}
.home article.home-logo section {
  width: 490px;
  margin: 0 auto;
  padding: 0;
}
.home article {
  position: relative;
}
.home article h1 {
  font-size: 55px;
  line-height: 1em;
}
.home article header {
  padding: 0px 0px 0px 10px;
  width: 490px;
  margin: 0 auto;
  top: 78px;
  left: 0px;
  right: 0px;
  background-size: 33px 48px;
  background-position: 100% 8px;
}
.home article footer {
  padding: 0px ;
  width: 495px;
  margin: 0 auto;
  bottom: 120px;
  left: 0px;
  right: 0px;
  background-size: 33px 48px;
  background-position: 10px calc(100% - 8px);
}
/*Archive General Styles*/
.tax-mbal_exhibition_cat.term-actuelles article,
.tax-mbal_exhibition_cat.term-a-venir article {
  margin: 0 0 22px 0;
}
/* Page type 1 Specifics*/
/*.single, .page*/
.page-template-default .mbal-centre article header > *,
.single-mbal_exhibitions .mbal-centre article header > *,
.single-mbal_boutiques .mbal-centre article header > *,
.page-template-default .mbal-centre article section > *,
.single-mbal_exhibitions .mbal-centre article section > *,
.single-mbal_boutiques .mbal-centre article section > *,
.page-template-default .mbal-centre article footer > *,
.single-mbal_exhibitions .mbal-centre article footer > *,
.single-mbal_boutiques .mbal-centre article footer > * {
  /*All direct child descendants*/
  /*  padding-left:10px; */
}
.page-template-default .mbal-centre article section .thumbnail-link,
.single-mbal_exhibitions .mbal-centre article section .thumbnail-link,
.single-mbal_boutiques .mbal-centre article section .thumbnail-link,
.page-template-default .mbal-centre article section img,
.single-mbal_exhibitions .mbal-centre article section img,
.single-mbal_boutiques .mbal-centre article section img,
.page-template-default .mbal-centre article section .flexslider,
.single-mbal_exhibitions .mbal-centre article section .flexslider,
.single-mbal_boutiques .mbal-centre article section .flexslider {
  padding: 0px !important;
  /* Exclude padding on grid */
}
.page-template-default .mbal-centre article header,
.single-mbal_exhibitions .mbal-centre article header,
.single-mbal_boutiques .mbal-centre article header {
  position: relative;
}
.page-template-default .mbal-centre article header .next-link a,
.single-mbal_exhibitions .mbal-centre article header .next-link a,
.single-mbal_boutiques .mbal-centre article header .next-link a,
.page-template-default .mbal-centre article header .prev-link a,
.single-mbal_exhibitions .mbal-centre article header .prev-link a,
.single-mbal_boutiques .mbal-centre article header .prev-link a {
  background-size: 46px 38px;
  width: 23px;
  height: 38px;
}
.page-template-default .mbal-centre article header .prev-link,
.single-mbal_exhibitions .mbal-centre article header .prev-link,
.single-mbal_boutiques .mbal-centre article header .prev-link {
  left: -62px;
  top: 4px;
}
.page-template-default .mbal-centre article header .next-link,
.single-mbal_exhibitions .mbal-centre article header .next-link,
.single-mbal_boutiques .mbal-centre article header .next-link {
  right: -62px;
  top: 4px;
}
.page-template-default .mbal-centre article header .next-link a,
.single-mbal_exhibitions .mbal-centre article header .next-link a,
.single-mbal_boutiques .mbal-centre article header .next-link a {
  background-position: 23px 0px;
}
.page-template-default .mbal-centre article header .entry-title.single-title,
.single-mbal_exhibitions .mbal-centre article header .entry-title.single-title,
.single-mbal_boutiques .mbal-centre article header .entry-title.single-title {
  margin-left: 0px;
  margin-right: 0px;
}
.page-template-default .mbal-centre article section.single-lower aside.single-lower,
.single-mbal_exhibitions .mbal-centre article section.single-lower aside.single-lower,
.single-mbal_boutiques .mbal-centre article section.single-lower aside.single-lower {
  padding-left: 0px;
}
.page-template-page-boutique-php .mbal-centre article header > *,
.page-template-page-boutique-php .mbal-centre article section > *,
.page-template-page-boutique-php .mbal-centre article footer > * {
  /*All direct child descendants*/
  padding-left: 0px;
}
.page-template-page-boutique-php .mbal-centre article {
  position: relative;
}
.page-template-page-boutique-php .mbal-centre article header,
.page-template-page-boutique-php .mbal-centre article footer {
  position: absolute;
}
/* Page type 2 Specifics*/
/* Page type 3 Specifics*/
.tax-mbal_exhibition_cat.term-archives .mbal-centre article,
.tax-mbal_exhibition_cat.term-agenda .mbal-centre article,
.tax-mbal_boutique_tag .mbal-centre article,
.page-template-page-boutique-php .mbal-centre article {
  float: left;
  width: 49.5%;
  margin-right: 1%;
}
.tax-mbal_exhibition_cat.term-archives .mbal-centre article h1,
.tax-mbal_exhibition_cat.term-agenda .mbal-centre article h1,
.tax-mbal_boutique_tag .mbal-centre article h1,
.page-template-page-boutique-php .mbal-centre article h1,
.tax-mbal_exhibition_cat.term-archives .mbal-centre article .h1,
.tax-mbal_exhibition_cat.term-agenda .mbal-centre article .h1,
.tax-mbal_boutique_tag .mbal-centre article .h1,
.page-template-page-boutique-php .mbal-centre article .h1 {
  font-size: 1.4em;
}
.tax-mbal_exhibition_cat.term-archives .mbal-centre article header,
.tax-mbal_exhibition_cat.term-agenda .mbal-centre article header,
.tax-mbal_boutique_tag .mbal-centre article header,
.page-template-page-boutique-php .mbal-centre article header {
  background-size: 14px 21px;
  background-position: calc(100% - 10px) 0px;
}
.tax-mbal_exhibition_cat.term-archives .mbal-centre article footer,
.tax-mbal_exhibition_cat.term-agenda .mbal-centre article footer,
.tax-mbal_boutique_tag .mbal-centre article footer,
.page-template-page-boutique-php .mbal-centre article footer {
  background-size: 14px 21px;
  background-position: 10px calc(100% - 4px);
}
.tax-mbal_exhibition_cat.term-archives .mbal-centre article:nth-of-type(2n),
.tax-mbal_exhibition_cat.term-agenda .mbal-centre article:nth-of-type(2n),
.tax-mbal_boutique_tag .mbal-centre article:nth-of-type(2n),
.page-template-page-boutique-php .mbal-centre article:nth-of-type(2n) {
  margin-right: 0;
}
/* Page type 3 Specifics*/
.tax-mbal_exhibition_cat.term-archives .entry-content .thumbnail-link,
.tax-mbal_boutique_tag .entry-content .thumbnail-link,
.page-template-page-boutique-php .entry-content .thumbnail-link {
  height: 165px;
  overflow: hidden;
}
/* Temp image fix 

section.entry-content.image-wrapper{
	
	img{
	 min-height:100%;
	}
}
*/
/******************************************************************
05. H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1,
.h1 {
  margin: 0 0 30px 0;
  font-size: 2.5em;
  line-height: 1.0em !important;
}
.home h1.archive-title,
.tax-mbal_exhibition_cat h1.archive-title,
.tax-mbal_boutique_tag h1.archive-title,
.page-template-page-boutique-php h1.archive-title,
.home h1.page-title,
.tax-mbal_exhibition_cat h1.page-title,
.tax-mbal_boutique_tag h1.page-title,
.page-template-page-boutique-php h1.page-title {
  margin-bottom: 30px;
  padding: 0 0 0 0px;
}
.home article header h1,
.tax-mbal_exhibition_cat article header h1,
.tax-mbal_boutique_tag article header h1,
.page-template-page-boutique-php article header h1,
.home article header .h1,
.tax-mbal_exhibition_cat article header .h1,
.tax-mbal_boutique_tag article header .h1,
.page-template-page-boutique-php article header .h1 {
  width: 100%;
}
.home article h1,
.tax-mbal_exhibition_cat article h1,
.tax-mbal_boutique_tag article h1,
.page-template-page-boutique-php article h1,
.home article .h1,
.tax-mbal_exhibition_cat article .h1,
.tax-mbal_boutique_tag article .h1,
.page-template-page-boutique-php article .h1 {
  margin: 0;
  word-spacing: 600px;
}
.tax-mbal_exhibition_cat article h1,
.tax-mbal_boutique_tag article h1,
.page-template-page-boutique-php article h1,
.tax-mbal_exhibition_cat article .h1,
.tax-mbal_boutique_tag article .h1,
.page-template-page-boutique-php article .h1 {
  font-size: 2.5em;
}
.single article header h1,
.page article header h1 {
  font-size: 3.2em;
}
.single article section h1,
.page article section h1,
.single article section .h1,
.page article section .h1 {
  margin: 0px 0px 0px 0px;
  font-size: 3em;
}
/*********************
HEADER STYLES
*********************/
.header {
  position: fixed;
  top: 0;
}
.header #inner-header {
  height: 109px;
  padding: 22px 0px 22px 0px;
}
.header #inner-header ul.top-nav > li a {
  padding: 0 14px 5px 0px;
  line-height: 1em;
}
.header #inner-header ul.top-nav > li:last-child a {
  padding-right: 0px !important;
}
.header #inner-header nav {
  width: 504px;
  position: relative;
  top: 0px;
  padding: 0px 0px 0px 0px;
  line-height: 0.8em !important;
  margin: 0 auto;
}
.header #inner-header #logo {
  left: 0px;
}
.header #inner-header section.tools {
  right: 0px;
  width: 104px;
}
.header #inner-header section.tools #menu-button {
  display: none;
}
.header #inner-header section.tools ul {
  float: left;
}
.header #inner-header section.tools #f-icon,
.header #inner-header section.tools #i-icon {
  /*background-image: url('../images/top-sprite-small.jpg');*/
}
/*********************
NAVIGATION STYLES
*********************/
.nav {
  /*background: #eee;*/
  border: 0;
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
.nav li {
  float: left;
  position: relative;
  /*
		plan your menus and drop-downs wisely.
		*/
  /* showing sub-menus */
}
.nav li a {
  border-bottom: 0;
  /*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
}
.nav li a:hover,
.nav li a:focus {
  /*background-color: #dedede;*/
}
.nav li ul.sub-menu,
.nav li ul.children {
  margin-top: 0;
  /*border: 1px solid #ccc;*/
  border-top: 0;
  position: absolute;
  display: none;
  z-index: 8999;
  /* highlight sub-menu current page */
}
.nav li ul.sub-menu li,
.nav li ul.children li {
  /*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
}
.nav li ul.sub-menu li a,
.nav li ul.children li a {
  padding-left: 10px;
  border-right: 0;
  display: block;
  width: 180px;
  /*border-bottom: 1px solid #ccc;*/
  padding-bottom: 0px;
}
.nav li ul.sub-menu li:last-child a,
.nav li ul.children li:last-child a {
  border-bottom: 0;
}
.nav li:hover ul {
  top: auto;
  display: block;
}
/* end .nav */
/*********************
08. POSTS & CONTENT STYLES
*********************/
/*********************
FOOTER STYLES
*********************/
/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links ul li {
  /*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
}
/* end .footer-links */
/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/
#container .mbal-centre {
  /* Separate from grid */
  width: 684px;
}
.header #inner-header ul.top-nav > li a {
  padding: 0 30px 5px 0px;
}
.header #inner-header nav {
  padding: 0 0 0 16px;
  width: 694px;
}
.header #inner-header .nav {
  font-size: 22px;
}
body.home article.home-logo section {
  width: 684px;
}
body.home article {
  position: relative;
}
body.home article header h1,
body.home article footer h1 {
  font-size: 75px;
  line-height: 1em;
}
body.home article header {
  width: 684px;
  background-position: 100% 13px;
}
body.home article footer {
  width: 683px;
  background-position: 10px calc(100% - 13px);
}
/* Page type 1 Specifics*/
/*.single, .page*/
.page-template-default .mbal-centre article,
.single-mbal_exhibitions .mbal-centre article,
.single-mbal_boutiques .mbal-centre article {
  position: inherit;
  margin-bottom: 22px;
}
.page-template-default .mbal-centre article section.single-lower,
.single-mbal_exhibitions .mbal-centre article section.single-lower,
.single-mbal_boutiques .mbal-centre article section.single-lower {
  width: 495px;
  margin-right: 10px;
  float: left;
}
.page-template-default .mbal-centre article aside.single-lower,
.single-mbal_exhibitions .mbal-centre article aside.single-lower,
.single-mbal_boutiques .mbal-centre article aside.single-lower {
  float: right;
  padding-top: 0px;
}
.page-template-default .mbal-centre article aside.single-lower #mbal-social,
.single-mbal_exhibitions .mbal-centre article aside.single-lower #mbal-social,
.single-mbal_boutiques .mbal-centre article aside.single-lower #mbal-social {
  width: 100%;
  margin: 0;
  list-style-type: none;
}
.page-template-default .mbal-centre article aside.single-lower #mbal-social li,
.single-mbal_exhibitions .mbal-centre article aside.single-lower #mbal-social li,
.single-mbal_boutiques .mbal-centre article aside.single-lower #mbal-social li {
  float: left;
  width: 42px;
  margin-right: 1px;
}
.page-template-default .mbal-centre article aside.single-lower #mbal-social li a,
.single-mbal_exhibitions .mbal-centre article aside.single-lower #mbal-social li a,
.single-mbal_boutiques .mbal-centre article aside.single-lower #mbal-social li a {
  height: 45px;
  background-size: 185px 44px;
}
.page-template-default .mbal-centre article aside.single-lower #mbal-social #pinterest-icon a,
.single-mbal_exhibitions .mbal-centre article aside.single-lower #mbal-social #pinterest-icon a,
.single-mbal_boutiques .mbal-centre article aside.single-lower #mbal-social #pinterest-icon a {
  background-position: 0px 0px;
}
.page-template-default .mbal-centre article aside.single-lower #mbal-social #facebook-icon a,
.single-mbal_exhibitions .mbal-centre article aside.single-lower #mbal-social #facebook-icon a,
.single-mbal_boutiques .mbal-centre article aside.single-lower #mbal-social #facebook-icon a {
  background-position: -47px 0px;
}
.page-template-default .mbal-centre article aside.single-lower #mbal-social #twitter-icon a,
.single-mbal_exhibitions .mbal-centre article aside.single-lower #mbal-social #twitter-icon a,
.single-mbal_boutiques .mbal-centre article aside.single-lower #mbal-social #twitter-icon a {
  background-position: -95px 0px;
}
.page-template-default .mbal-centre article aside.single-lower #mbal-social #t-icon a,
.single-mbal_exhibitions .mbal-centre article aside.single-lower #mbal-social #t-icon a,
.single-mbal_boutiques .mbal-centre article aside.single-lower #mbal-social #t-icon a {
  background-position: -142px 0px;
}
.page-template-page-boutique-php .mbal-centre article {
  position: relative;
}
.page-template-page-boutique-php .mbal-centre article header,
.page-template-page-boutique-php .mbal-centre article footer {
  position: absolute;
}
/* Page type 3 Specifics

.tax-mbal_exhibition_cat.term-archives, 
.tax-mbal_boutique_tag, 
.page-template-page-boutique-php  {
	.entry-content .thumbnail-link { height: 224px; overflow:hidden;}
}
*/
/* 
you can call the larger styles if you want, but there's really no need 
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
