/******************************************************************
Site Name:
Author:

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.
******************************************************************/
/*! normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

@font-face {
    font-family: 'mbalbold';
    src: url('../fonts/mbal-bold-webfont.otf');
    /*src: url('../fonts/mbalbold/mbal-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mbalbold/mbal-bold-webfont.woff') format('woff'),
         url('../fonts/mbalbold/mbal-bold-webfont.ttf') format('truetype'),
         url('../fonts/mbalbold/mbal-bold-webfont.svg#mbalbold') format('svg');*/
    font-weight: normal;
    font-style: normal;

}

/*
 * Corrects `block` display not defined in IE6/7/8/9 & FF3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
/*
 * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/*
 * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
 * Known issue: no IE6 support.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}
/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/*
 * Addresses margins handled incorrectly in IE6/7.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/*
 * Improves readability when focused and also mouse hovered in all browsers.
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7.
 * Addresses font sizes within `section` and `article` in FF4+, Chrome, S5.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/*
 * Addresses style set to `bolder` in FF3+, S4/5, Chrome.
 */
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
/*
 * Addresses styling not present in S5, Chrome.
 */
dfn {
  font-style: italic;
}
/*
 * Addresses styling not present in IE6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/*
 * Addresses margins set differently in IE6/7.
 */
p,
pre {
  margin: 1em 0;
}
/*
 * Corrects font family set oddly in IE6, S4/5, Chrome.
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/*
 * Addresses CSS quotes not supported in IE6/7.
 */
q {
  quotes: none;
}
/*
 * Addresses `quotes` property not supported in S4.
 */
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
/*
 * Addresses paddings set differently in IE6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
/*
 * Corrects list images handled incorrectly in IE7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE6/7/8/9, FF3.
 * 2. Improves image quality when scaled in IE7.
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}
/*
 * Corrects overflow displayed oddly in IE9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7.
 */
form {
  margin: 0;
}
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/*
 * 1. Corrects color not being inherited in IE6/7/8/9.
 * 2. Corrects text not wrapping in FF3.
 * 3. Corrects alignment displayed oddly in IE6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}
/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}
/*
 * Addresses FF3/4 setting `line-height` on `input` using `!important` in the
 * UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}
/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default;
}
/*
 * 1. Addresses box sizing set to content-box in IE8/9.
 * 2. Removes excess padding in IE8/9.
 * 3. Removes excess padding in IE7.
 *    Known issue: excess padding remains in IE6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}
/*
 * 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz`
 *    to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
 * Removes inner padding and border in FF3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/******************************************************************
CUSTOMIZED RESET VALUES
I added these extra styles as a more personalized reset. Feel free
to remove them if you like or add your own. If you want to update
the normalize styles, make sure to edit from this point up.
******************************************************************/
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
b,
strong,
.strong {
  font-weight: bold;
}
dfn,
em,
.em {
  font-style: italic;
}
small,
.small {
  font-size: 75%;
}
ul,
ol {
  padding: 0;
  list-style-type: none;
}
dd {
  margin: 0;
}
.sidebar ul,
.sidebar ol,
.commentlist {
  list-style: none;
}
/******************************************************************
Site Name: 
Author: 

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of LESS' great features: 
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques like box shadow and
border-radius.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more. 

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*********************
TOOLS
*********************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.vertical-align {
  position: relative;
  top: 45%;
  -webkit-transform: translateY(-45%);
  -ms-transform: translateY(-45%);
  transform: translateY(-45%);
}
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TYPOGRAPHY
*********************/
/* 	To embed your own fonts, use this syntax
	and place your fonts inside the 
	library/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.
*/
@font-face {
  font-family: "mbalbold";
  src: url('../fonts/mbalbold/mbal-bold-webfont.eot');
  src: url('../fonts/mbalbold/mbal-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/mbalbold/mbal-bold-webfont.woff') format('woff'), url('../fonts/mbalbold/mbal-bold-webfont.ttf') format('truetype'), url('../fonts/mbalbold/mbal-bold-webfont.svg#mbalbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* 
use the best ampersand 
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
}
/* text alignment */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.alert {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
}
.alert-help {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #e8dc59;
  background: #ebe16f;
}
.alert-info {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #bfe4f4;
  background: #d5edf8;
}
.alert-error {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #f8cdce;
  background: #fbe3e4;
}
.alert-success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #deeaae;
  background: #e6efc2;
}
/*********************
BORDER RADIUS
*********************/
/* 
NOTE: For older browser support (and some mobile), 
don't use the shorthand to define *different* corners. 

USAGE: .border-radius(4px); 

*/
/*********************
TRANISTION
*********************/
/* .transition(all,2s); */
/*********************
CSS3 GRADIENTS
Be careful with these since they can 
really slow down your CSS. Don't overdo it.
*********************/
/* .css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SHADOW
*********************/
/* .boxShadow(0,0,4px,0,#444); */
/* .boxShadow(none); */
/*********************
BUTTONS
*********************/
.button,
.button:visited {
  border: 1px solid #be0d37;
  border-top-color: #db0f3f;
  border-left-color: #db0f3f;
  padding: 4px 12px;
  color: #ffffff;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #e40f42;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f01d4f), to(#e40f42));
  background-image: -webkit-linear-gradient(top, #f01d4f, #e40f42);
  background-image: -moz-linear-gradient(top, #f01d4f, #e40f42);
  background-image: -o-linear-gradient(top, #f01d4f, #e40f42);
  background-image: linear-gradient(to bottom, #f01d4f, #e40f42);
}
.button:hover,
.button:visited:hover,
.button:focus,
.button:visited:focus {
  color: #ffffff;
  border: 1px solid #be0d37;
  border-top-color: #9d0a2d;
  border-left-color: #9d0a2d;
  background-color: #cc0e3b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e40f42), to(#cc0e3b));
  background-image: -webkit-linear-gradient(top, #e40f42, #cc0e3b);
  background-image: -moz-linear-gradient(top, #e40f42, #cc0e3b);
  background-image: -o-linear-gradient(top, #e40f42, #cc0e3b);
  background-image: linear-gradient(to bottom, #e40f42, #cc0e3b);
}
.button:active,
.button:visited:active {
  background-color: #f01d4f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e40f42), to(#f01d4f));
  background-image: -webkit-linear-gradient(top, #e40f42, #f01d4f);
  background-image: -moz-linear-gradient(top, #e40f42, #f01d4f);
  background-image: -o-linear-gradient(top, #e40f42, #f01d4f);
  background-image: linear-gradient(to bottom, #e40f42, #f01d4f);
}
.blue-button,
.blue-button:visited {
  border-color: #1472ad;
  text-shadow: 0 1px 1px #1472ad;
  background-color: #1681c4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1990db), to(#1681c4));
  background-image: -webkit-linear-gradient(top, #1990db, #1681c4);
  background-image: -moz-linear-gradient(top, #1990db, #1681c4);
  background-image: -o-linear-gradient(top, #1990db, #1681c4);
  background-image: linear-gradient(to bottom, #1990db, #1681c4);
  -webkit-box-shadow: inset 0 0 3px #59b3ec;
  -moz-box-shadow: inset 0 0 3px #59b3ec;
  box-shadow: inset 0 0 3px #59b3ec;
}
.blue-button:hover,
.blue-button:visited:hover,
.blue-button:focus,
.blue-button:visited:focus {
  border-color: #116396;
  background-color: #1472ad;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1784c9), to(#1472ad));
  background-image: -webkit-linear-gradient(top, #1784c9, #1472ad);
  background-image: -moz-linear-gradient(top, #1784c9, #1472ad);
  background-image: -o-linear-gradient(top, #1784c9, #1472ad);
  background-image: linear-gradient(to bottom, #1784c9, #1472ad);
}
.blue-button:active,
.blue-button:visited:active {
  background-color: #1990db;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1681c4), to(#1990db));
  background-image: -webkit-linear-gradient(top, #1681c4, #1990db);
  background-image: -moz-linear-gradient(top, #1681c4, #1990db);
  background-image: -o-linear-gradient(top, #1681c4, #1990db);
  background-image: linear-gradient(to bottom, #1681c4, #1990db);
}
.page-id-3738 article header h1 {
  font-size: 2.4em !important;
}
.mc4wp-form-3658 {
  width: 320px;
}
.mc4wp-form-3658 p {
  display: block;
  width: 100%;
}
.mc4wp-form-3658 label {
  display: block;
  width: 100%;
}
.red-required {
  color: #f00;
}
.mc4wp-form-3658 input {
  display: block;
  width: 100%;
  margin-top: 5px;
  border: 1px solid #1b3f94;
}
.mc4wp-form-3658 input[type="submit"] {
  display: block;
  width: auto;
  background-color: #1b3f94;
  padding: 8px 20px;
  border: none;
  color: #fff;
  font-family: "mbalbold", sans-serif;
}
.mc4wp-alert p {
  font-family: "mbalbold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

------------ MAP ------------

01. GENERAL STYLES
02. WORDPRESS BODY CLASSES
03. LAYOUT & GRID STYLES
04. LINK STYLES
05. H1, H2, H3, H4, H5 STYLES
06. HEADER STYLES
07. NAVIGATION STYLES
08. POSTS & CONTENT STYLES
09. PAGE NAVI STYLES
10. COMMENT STYLES
11. COMMENT FORM STYLES
12. SIDEBARS & ASIDES
13. FOOTER STYLES

******************************************************************/
/*********************
01. GENERAL STYLES
*********************/
html,
body {
  height: 100%;
}
body {
  font-family: "Arvo", Cambria, Times New Roman, Times, serif;
  font-size: 100%;
  line-height: 1.5;
  color: #565656;
  background: #fff;
}
html,
body,
#container,
#content {
  height: 100%;
}
/*min-height*/
#inner-content {
  min-height: 100%;
  /* position: relative; */
}
#inner-header,
#inner-content,
#inner-footer {
  background: #fff;
}
/*********************
03. LAYOUT & GRID STYLES
*********************/
.wrap {
  width: 96%;
  margin: 0 auto;
}
#container .mbal-centre {
  /* Separate from grid */
  padding: 0px 22px 22px 22px;
}
.home article.home-logo section {
  position: relative;
  top: 45%;
  -webkit-transform: translateY(-45%);
  -ms-transform: translateY(-45%);
  transform: translateY(-45%);
  width: 100%;
  padding: 22px;
}
.home article.home-logo section img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}
.home article {
  position: relative;
  margin-bottom: 0px;
  width: 100%;
  height: 752px;
  background-attachment: fixed;
  background-position: 50% 109px;
  background-repeat: no-repeat;
}
.home article header {
  z-index: 8999;
  position: absolute;
  width: 100%;
  padding: 22px;
  top: 0px;
  left: 0px;
  background: url('../images/frame_top.PNG');
  background-repeat: no-repeat;
  background-size: 22px 32px;
  background-position: calc(100% - 22px) 22px;
  min-height: 40px;
}
.home article section #parallax-image {
  width: 100%;
  height: 752px;
  background-attachment: scroll;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.home article section .thumbnail-link {
  display: block;
  background: #1b3f94;
  margin: 0px;
}
.home article footer {
  position: absolute;
  width: 100%;
  padding: 22px;
  bottom: 0px;
  right: 0px;
  background: url('../images/frame_bottom.PNG');
  background-repeat: no-repeat;
  background-size: 22px 32px;
  background-position: 22px calc(100% - 22px);
  min-height: 80px;
}
.home article:focus #parallax-image,
.home article:active #parallax-image {
  zoom: 1;
  filter: alpha(opacity=45);
  opacity: 0.45;
}
/*Archive General Styles*/
/*
.tax-mbal_exhibition_cat.term-actuelles, 
.tax-mbal_exhibition_cat.term-a-venir, 
.tax-mbal_exhibition_cat.term-archives,
*/
.tax-mbal_exhibition_cat article,
.tax-mbal_boutique_tag article,
.page-template-page-boutique-php article {
  position: relative;
  width: 100%;
  margin: 0 0 7px 0;
  /* on hover, click, mobile tap color */
}
.tax-mbal_exhibition_cat article header,
.tax-mbal_boutique_tag article header,
.page-template-page-boutique-php article header {
  z-index: 8999;
  position: absolute;
  top: 10px;
  width: 100%;
  padding-left: 10px;
  background: url('../images/frame_top.PNG');
  background-repeat: no-repeat;
  /*background-attachment:fixed;*/
  background-size: 14px 21px;
  background-position: calc(100% - 10px) 0px;
  min-height: 40px;
  /*For when title is blank*/
}
.tax-mbal_exhibition_cat article section .thumbnail-link,
.tax-mbal_boutique_tag article section .thumbnail-link,
.page-template-page-boutique-php article section .thumbnail-link {
  display: block;
  background: #1b3f94;
}
.tax-mbal_exhibition_cat article footer,
.tax-mbal_boutique_tag article footer,
.page-template-page-boutique-php article footer {
  position: absolute;
  bottom: 10px;
  right: 0px;
  width: 100%;
  padding-right: 10px;
  background: url('../images/frame_bottom.PNG');
  background-repeat: no-repeat;
  /*background-attachment:fixed;*/
  background-size: 14px 21px;
  background-position: 10px calc(100% - 4px);
  min-height: 40px;
  /*For when title is blank*/
}
.tax-mbal_exhibition_cat article:hover img,
.tax-mbal_boutique_tag article:hover img,
.page-template-page-boutique-php article:hover img,
.tax-mbal_exhibition_cat article:focus img,
.tax-mbal_boutique_tag article:focus img,
.page-template-page-boutique-php article:focus img,
.tax-mbal_exhibition_cat article:active img,
.tax-mbal_boutique_tag article:active img,
.page-template-page-boutique-php article:active img,
.tax-mbal_exhibition_cat article:link img,
.tax-mbal_boutique_tag article:link img,
.page-template-page-boutique-php article:link img {
  zoom: 1;
  filter: alpha(opacity=45);
  opacity: 0.45;
}
/* Page type 1 Specifics*/
/*.single, .page*/
.page-template-default .mbal-centre article,
.single-mbal_exhibitions .mbal-centre article,
.single-mbal_boutiques .mbal-centre article {
  position: inherit;
  margin-bottom: 22px;
  /*section{
				img{ margin: 0px 0px 18px 0px; display: block;}
			}*/
}
.page-template-default .mbal-centre article header,
.single-mbal_exhibitions .mbal-centre article header,
.single-mbal_boutiques .mbal-centre article header {
  width: 100%;
  position: relative;
}
.page-template-default .mbal-centre article header .next-link,
.single-mbal_exhibitions .mbal-centre article header .next-link,
.single-mbal_boutiques .mbal-centre article header .next-link,
.page-template-default .mbal-centre article header .prev-link,
.single-mbal_exhibitions .mbal-centre article header .prev-link,
.single-mbal_boutiques .mbal-centre article header .prev-link {
  position: absolute;
}
.page-template-default .mbal-centre article header .next-link a,
.single-mbal_exhibitions .mbal-centre article header .next-link a,
.single-mbal_boutiques .mbal-centre article header .next-link a,
.page-template-default .mbal-centre article header .prev-link a,
.single-mbal_exhibitions .mbal-centre article header .prev-link a,
.single-mbal_boutiques .mbal-centre article header .prev-link a {
  display: block;
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background: url('../images/nav-sprite.jpg');
  background-size: 28px 23px;
  width: 12.5px;
  height: 23px;
}
.page-template-default .mbal-centre article header .prev-link,
.single-mbal_exhibitions .mbal-centre article header .prev-link,
.single-mbal_boutiques .mbal-centre article header .prev-link {
  left: 0px;
  top: 0px;
}
.page-template-default .mbal-centre article header .prev-link a,
.single-mbal_exhibitions .mbal-centre article header .prev-link a,
.single-mbal_boutiques .mbal-centre article header .prev-link a {
  background-position: 0px 0px;
}
.page-template-default .mbal-centre article header .next-link,
.single-mbal_exhibitions .mbal-centre article header .next-link,
.single-mbal_boutiques .mbal-centre article header .next-link {
  right: 0px;
  top: 0px;
}
.page-template-default .mbal-centre article header .next-link a,
.single-mbal_exhibitions .mbal-centre article header .next-link a,
.single-mbal_boutiques .mbal-centre article header .next-link a {
  background-position: 13px 0px;
}
.page-template-default .mbal-centre article header .entry-title.single-title,
.single-mbal_exhibitions .mbal-centre article header .entry-title.single-title,
.single-mbal_boutiques .mbal-centre article header .entry-title.single-title {
  margin-left: 20px;
  margin-right: 20px;
}
.page-template-default .mbal-centre article section.entry-content.image-wrapper,
.single-mbal_exhibitions .mbal-centre article section.entry-content.image-wrapper,
.single-mbal_boutiques .mbal-centre article section.entry-content.image-wrapper {
  margin-bottom: 22px;
}
.page-template-default .mbal-centre article section.entry-content.entry-gallery,
.single-mbal_exhibitions .mbal-centre article section.entry-content.entry-gallery,
.single-mbal_boutiques .mbal-centre article section.entry-content.entry-gallery {
  margin-top: 22px;
}
.page-template-default .mbal-centre article section.entry-content.entry-gallery .image-caption,
.single-mbal_exhibitions .mbal-centre article section.entry-content.entry-gallery .image-caption,
.single-mbal_boutiques .mbal-centre article section.entry-content.entry-gallery .image-caption {
  font-weight: regular;
  font-size: 12px;
  margin: 1em 0 3em;
}
.page-template-default .mbal-centre article aside.single-lower,
.single-mbal_exhibitions .mbal-centre article aside.single-lower,
.single-mbal_boutiques .mbal-centre article aside.single-lower {
  width: 175px;
  float: none;
  padding-top: 22px;
}
.page-template-default .mbal-centre article aside.single-lower #mbal-social,
.single-mbal_exhibitions .mbal-centre article aside.single-lower #mbal-social,
.single-mbal_boutiques .mbal-centre article aside.single-lower #mbal-social {
  width: 100%;
  margin: 0;
  list-style-type: none;
}
.page-template-default .mbal-centre article aside.single-lower #mbal-social li,
.single-mbal_exhibitions .mbal-centre article aside.single-lower #mbal-social li,
.single-mbal_boutiques .mbal-centre article aside.single-lower #mbal-social li {
  float: left;
  width: 32px;
  margin-right: 1px;
}
.page-template-default .mbal-centre article aside.single-lower #mbal-social li a,
.single-mbal_exhibitions .mbal-centre article aside.single-lower #mbal-social li a,
.single-mbal_boutiques .mbal-centre article aside.single-lower #mbal-social li a {
  display: block;
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background: url('../images/social-sprite.jpg');
  width: 100%;
  height: 35px;
  background-size: 138px 32px;
}
.page-template-default .mbal-centre article aside.single-lower #mbal-social #pinterest-icon a,
.single-mbal_exhibitions .mbal-centre article aside.single-lower #mbal-social #pinterest-icon a,
.single-mbal_boutiques .mbal-centre article aside.single-lower #mbal-social #pinterest-icon a {
  background-position: 0px 0px;
}
.page-template-default .mbal-centre article aside.single-lower #mbal-social #facebook-icon a,
.single-mbal_exhibitions .mbal-centre article aside.single-lower #mbal-social #facebook-icon a,
.single-mbal_boutiques .mbal-centre article aside.single-lower #mbal-social #facebook-icon a {
  background-position: -36px 0px;
}
.page-template-default .mbal-centre article aside.single-lower #mbal-social #twitter-icon a,
.single-mbal_exhibitions .mbal-centre article aside.single-lower #mbal-social #twitter-icon a,
.single-mbal_boutiques .mbal-centre article aside.single-lower #mbal-social #twitter-icon a {
  background-position: -72px 0px;
}
.page-template-default .mbal-centre article aside.single-lower #mbal-social #t-icon a,
.single-mbal_exhibitions .mbal-centre article aside.single-lower #mbal-social #t-icon a,
.single-mbal_boutiques .mbal-centre article aside.single-lower #mbal-social #t-icon a {
  background-position: 168px 0px;
}
.page-template-default .mbal-centre article aside.single-lower #mbal-quote h3,
.single-mbal_exhibitions .mbal-centre article aside.single-lower #mbal-quote h3,
.single-mbal_boutiques .mbal-centre article aside.single-lower #mbal-quote h3 {
  margin: 7.1px 0 0 0;
}
.page-template-default .mbal-centre article aside.single-lower #mbal-quote h3 *,
.single-mbal_exhibitions .mbal-centre article aside.single-lower #mbal-quote h3 *,
.single-mbal_boutiques .mbal-centre article aside.single-lower #mbal-quote h3 * {
  margin: 0px;
}
.page-template-default .mbal-centre article aside.single-lower #mbal-quote *,
.single-mbal_exhibitions .mbal-centre article aside.single-lower #mbal-quote *,
.single-mbal_boutiques .mbal-centre article aside.single-lower #mbal-quote * {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
}
.page-template-default .mbal-centre article footer,
.single-mbal_exhibitions .mbal-centre article footer,
.single-mbal_boutiques .mbal-centre article footer {
  position: inherit;
  width: 100%;
}
.page-template-page-boutique-php .mbal-centre article {
  position: relative;
}
.page-template-page-boutique-php .mbal-centre article header,
.page-template-page-boutique-php .mbal-centre article footer {
  position: absolute;
}
/* Page type 2 Specifics*/
/* Page type 3 Specifics*/
section.entry-content.single-lower > * {
  margin: 0.5em 0;
  padding: 0px;
}
section.entry-content.single-lower ul,
section.entry-content.single-lower ol {
  margin-left: 22px;
}
aside.entry-content.single-lower > * {
  margin: 0px;
  padding: 0px;
}
section.entry-content.single-lower #entry-subtitles {
  padding-bottom: 10px;
  margin: 0;
}
section.entry-content.single-lower #entry-subtitles > * {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0px;
  padding-bottom: 0px;
}
#map-info {
  height: 100px;
}
/*
.map-container {
    position: relative;
    padding-bottom: 26.25%  !important;
    padding-top: 30px !important;
	padding-bottom: 66.25%  !important;
    padding-top: 140px !important; 
    height: 0;
    overflow: hidden;
}

.map-container iframe,  
.map-container object, 
.map-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
*/
/*********************
04. LINK STYLES
*********************/
a,
a:visited {
  color: #1b3f94;
  outline: 0 !important;
  /* on hover */
  /* on click */
  /* mobile tap color */
}
a:hover,
a:visited:hover,
a:focus,
a:visited:focus {
  color: #142e6d;
}
a:link,
a:visited:link {
  /*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}
/******************************************************************
05. H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-family: "mbalbold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizelegibility;
  font-weight: 400;
  color: #1b3f94;
  /*
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	*/
  /*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/
  /* removing text decoration from all headline links */
}
h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a,
h1 a:visited,
.h1 a:visited,
h2 a:visited,
.h2 a:visited,
h3 a:visited,
.h3 a:visited,
h4 a:visited,
.h4 a:visited,
h5 a:visited,
.h5 a:visited {
  text-decoration: none;
  color: #1b3f94;
  display: block;
  /* on hover */
  /* on click */
  /* mobile tap color */
}
h1 a:hover,
.h1 a:hover,
h2 a:hover,
.h2 a:hover,
h3 a:hover,
.h3 a:hover,
h4 a:hover,
.h4 a:hover,
h5 a:hover,
.h5 a:hover,
h1 a:visited:hover,
.h1 a:visited:hover,
h2 a:visited:hover,
.h2 a:visited:hover,
h3 a:visited:hover,
.h3 a:visited:hover,
h4 a:visited:hover,
.h4 a:visited:hover,
h5 a:visited:hover,
.h5 a:visited:hover,
h1 a:focus,
.h1 a:focus,
h2 a:focus,
.h2 a:focus,
h3 a:focus,
.h3 a:focus,
h4 a:focus,
.h4 a:focus,
h5 a:focus,
.h5 a:focus,
h1 a:visited:focus,
.h1 a:visited:focus,
h2 a:visited:focus,
.h2 a:visited:focus,
h3 a:visited:focus,
.h3 a:visited:focus,
h4 a:visited:focus,
.h4 a:visited:focus,
h5 a:visited:focus,
.h5 a:visited:focus {
  /*color: @mbal-blue;*/
  color: #142e6d;
}
h1 a:link,
.h1 a:link,
h2 a:link,
.h2 a:link,
h3 a:link,
.h3 a:link,
h4 a:link,
.h4 a:link,
h5 a:link,
.h5 a:link,
h1 a:visited:link,
.h1 a:visited:link,
h2 a:visited:link,
.h2 a:visited:link,
h3 a:visited:link,
.h3 a:visited:link,
h4 a:visited:link,
.h4 a:visited:link,
h5 a:visited:link,
.h5 a:visited:link {
  /*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}
h2.agenda-past-events {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.search-results .article-header {
  padding-top: 30px;
}
.entry-content h1,
.entry-content .h1,
.entry-content h2,
.entry-content .h2,
.entry-content h3,
.entry-content .h3,
.entry-content h4,
.entry-content .h4,
.entry-content h5,
.entry-content .h5 {
  line-height: 1em;
}
h1,
.h1 {
  font-size: 1.8em;
  line-height: 0.9em;
  margin: 0 0 22px 0;
}
h2,
.h2 {
  font-size: 1.75em;
}
h3,
.h3 {
  font-size: 1.125em;
}
h4,
.h4 {
  font-size: 1em;
  font-weight: 400;
}
h5,
.h5 {
  font-size: 0.846em;
  line-height: 2.09em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/*
.tax-mbal_exhibition_cat.term-actuelles, 
.tax-mbal_exhibition_cat.term-a-venir, 
.tax-mbal_exhibition_cat.term-archives,
*/
.home article header h1,
.tax-mbal_exhibition_cat article header h1,
.tax-mbal_boutique_tag article header h1,
.page-template-page-boutique-php article header h1,
.home article header .h1,
.tax-mbal_exhibition_cat article header .h1,
.tax-mbal_boutique_tag article header .h1,
.page-template-page-boutique-php article header .h1 {
  width: 70%;
}
.home article h1,
.tax-mbal_exhibition_cat article h1,
.tax-mbal_boutique_tag article h1,
.page-template-page-boutique-php article h1,
.home article .h1,
.tax-mbal_exhibition_cat article .h1,
.tax-mbal_boutique_tag article .h1,
.page-template-page-boutique-php article .h1 {
  color: #fff;
  margin: 0px;
  /* on hover , on click , mobile tap color */
}
.home article h1 a,
.tax-mbal_exhibition_cat article h1 a,
.tax-mbal_boutique_tag article h1 a,
.page-template-page-boutique-php article h1 a,
.home article .h1 a,
.tax-mbal_exhibition_cat article .h1 a,
.tax-mbal_boutique_tag article .h1 a,
.page-template-page-boutique-php article .h1 a,
.home article h1 a:hover,
.tax-mbal_exhibition_cat article h1 a:hover,
.tax-mbal_boutique_tag article h1 a:hover,
.page-template-page-boutique-php article h1 a:hover,
.home article .h1 a:hover,
.tax-mbal_exhibition_cat article .h1 a:hover,
.tax-mbal_boutique_tag article .h1 a:hover,
.page-template-page-boutique-php article .h1 a:hover,
.home article h1 a:visited,
.tax-mbal_exhibition_cat article h1 a:visited,
.tax-mbal_boutique_tag article h1 a:visited,
.page-template-page-boutique-php article h1 a:visited,
.home article .h1 a:visited,
.tax-mbal_exhibition_cat article .h1 a:visited,
.tax-mbal_boutique_tag article .h1 a:visited,
.page-template-page-boutique-php article .h1 a:visited,
.home article h1 a:focus,
.tax-mbal_exhibition_cat article h1 a:focus,
.tax-mbal_boutique_tag article h1 a:focus,
.page-template-page-boutique-php article h1 a:focus,
.home article .h1 a:focus,
.tax-mbal_exhibition_cat article .h1 a:focus,
.tax-mbal_boutique_tag article .h1 a:focus,
.page-template-page-boutique-php article .h1 a:focus,
.home article h1 a:active,
.tax-mbal_exhibition_cat article h1 a:active,
.tax-mbal_boutique_tag article h1 a:active,
.page-template-page-boutique-php article h1 a:active,
.home article .h1 a:active,
.tax-mbal_exhibition_cat article .h1 a:active,
.tax-mbal_boutique_tag article .h1 a:active,
.page-template-page-boutique-php article .h1 a:active,
.home article h1 a:link,
.tax-mbal_exhibition_cat article h1 a:link,
.tax-mbal_boutique_tag article h1 a:link,
.page-template-page-boutique-php article h1 a:link,
.home article .h1 a:link,
.tax-mbal_exhibition_cat article .h1 a:link,
.tax-mbal_boutique_tag article .h1 a:link,
.page-template-page-boutique-php article .h1 a:link {
  color: #ffffff !important;
}
.home article h1.archive-title,
.tax-mbal_exhibition_cat article h1.archive-title,
.tax-mbal_boutique_tag article h1.archive-title,
.page-template-page-boutique-php article h1.archive-title {
  margin-bottom: 22px;
}
.home article footer h1,
.tax-mbal_exhibition_cat article footer h1,
.tax-mbal_boutique_tag article footer h1,
.page-template-page-boutique-php article footer h1 {
  text-align: right;
}
/*
.tax-mbal_exhibition_cat.term-actuelles, 
.tax-mbal_exhibition_cat.term-a-venir,
.tax-mbal_exhibition_cat.term-archives,
*/
.tax-mbal_exhibition_cat article h1,
.tax-mbal_boutique_tag article h1,
.page-template-page-boutique-php article h1,
.tax-mbal_exhibition_cat article .h1,
.tax-mbal_boutique_tag article .h1,
.page-template-page-boutique-php article .h1 {
  font-size: 1.4em;
  padding-left: 0px;
}
/*.single, .page*/
.page-template-default article header h1,
.single-mbal_exhibitions article header h1,
.single-mbal_boutiques article header h1 {
  margin: -0.3px 0px 22px 0px;
}
.page-template-default article section h1,
.single-mbal_exhibitions article section h1,
.single-mbal_boutiques article section h1,
.page-template-default article section .h1,
.single-mbal_exhibitions article section .h1,
.single-mbal_boutiques article section .h1 {
  margin: 0px 0px 0px 0px;
}
/*********************
06. HEADER STYLES
*********************/
.header {
  position: fixed;
  width: 100%;
  z-index: 9999;
}
.header #inner-header {
  min-height: 109px;
  padding: 22px 0px 0px 0px;
  position: relative;
  /* ul.top-nav > li:last-child a{padding: 0px !important;} */
}
.header #inner-header #logo {
  position: absolute;
  top: 22px;
  left: 22px;
  font-size: 1em;
}
.header #inner-header #logo a {
  display: block;
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  /*background: url('../images/logo.jpg');
  background-size: 63px 65px;*/
  height: 65px;
}
.header #inner-header #logo a img{
  height: 55px;
}

.header #inner-header nav {
    left: 25px;
    line-height: 0.8em;
    padding: 0px 22px 22px 22px;
}   
.header #inner-header nav ul {
  margin: 0px;
}
.header #inner-header nav ul li a {
  padding: 9px 0px 4px 0px;
}
.header #inner-header nav ul li .sub-menu li {
  /*padding: 0 53px 0 10px;*/
}
.header #inner-header nav ul li .sub-menu li a {
  font-size: 11px;
  padding: 0px 0px 0px 0px !important;
}
.header #inner-header section.tools {
  position: absolute;
  top: 20px;
  right: 22px;
  width: 134px;
  padding: 0px 0px 0px 0px;
}
.header #inner-header section.tools #menu-button,
.header #inner-header section.tools #menu-button:visited {
  float: left;
  background: url('../images/menu.jpg');
  background-position: 0px 0px;
  background-size: 70px 35px;
  display: block;
  width: 35px;
  height: 25px;
  /*margin: 0 auto;*/
  cursor: pointer;
  /* on hover */
  /* on click */
  /* mobile tap color */
}

#top-slider
{
    width: 100%;
    height: 600px;
    min-height: 600px;
    max-height: 600px;
    position: relative;
    background-color: rgba(220,220,220,0.3);
    margin-bottom: 30px;
}
#top-slider #slide-container
{
  width: 100%;
  height: 100%;
  min-height: 600px;
  max-height: 600px;
  overflow: hidden;
  position: relative;
}
#top-slider #slider-bullet
{
    display: none;
    top: 50%;
    right:-20px;
    width: 10px !important;
    max-width: 10px !important;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#top-slider #slider-bullet .bullet
{
    display: block;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 3px;
    background-color: #8d9fc9;
}
#top-slider #slider-bullet .bullet:first-child
{
  background-color: #1b3f94;
}
#top-slider .slide
{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}
#top-slider .slide a
{
    top: 0;
    left: 0;
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: absolute;
}
#top-slider .slide img.image-slide
{
    display: none;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 50%;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#top-slider .slide img.image-slide:first-child
{
   display: block; 
}

@media only screen and (min-width: 320px) and (max-height: 736px) {
    #top-slider
    {
        height: 350px;
        min-height: 350px;
        max-height: 350px;
    }
    #top-slider #slide-container
    {
        height: 100%;
        min-height: 100%;
        max-height: 100%;
        position: relative;
    }
    #top-slider .slide
    {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }
    #top-slider .slide a
    {
        top: 0;
        left: 0;
        display: block;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        position: absolute;
    }
    #top-slider .slide img.image-slide
    {
        display: none;
        max-width: 100%;
        max-height: 100%;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

.header #inner-header section.tools #menu-button:hover,
.header #inner-header section.tools #menu-button:visited:hover,
.header #inner-header section.tools #menu-button:focus,
.header #inner-header section.tools #menu-button:visited:focus {
  background-position: 35px 0px;
}
.header #inner-header section.tools #menu-button:active,
.header #inner-header section.tools #menu-button:visited:active {
  zoom: 1;
  filter: alpha(opacity=75);
  opacity: 0.75;
}
.header #inner-header section.tools #menu-button:link,
.header #inner-header section.tools #menu-button:visited:link {
  /* this highlights links on iPhones/iPads. so it basically works like the :hover selector for mobile devices. */
  background-position: 35px 0px;
}
.header #inner-header section.tools ul {
  height: 17px;
  padding: 0;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 3px;
  float: right;
}
.header #inner-header section.tools ul li {
  display: inline;
  font-family: "mbalbold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 0;
  color: #1b3f94;
  text-transform: uppercase;
  padding: 0 2px 0 0;
}
.header #inner-header section.tools ul a {
  text-decoration: none;
}
.header #inner-header section.tools h2 {
  font-size: 10px;
  line-height: 0;
  text-align: left;
  color: #1b3f94;
  /*width: 75px;*/
  margin: 9px 0px 0px 0px;
  float: left;
}
.header #inner-header section.tools h2 a {
  color: #1b3f94;
}
.header #inner-header section.tools #f-icon,
.header #inner-header section.tools #i-icon {
  display: block;
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-image: url('../images/top-sprite.jpg');
  width: 18px;
  height: 18px;
  float: right;
  background-size: 36px 18px;
  margin-top: 0px;
}
.header #inner-header section.tools #f-icon {
  background-position: 0px 0px;
  margin-right: 1px;
}
.header #inner-header section.tools #i-icon {
  background-position: 18px 0px;
}
.header #inner-header section.tools #searchform {
  float: left;
  margin: 7px 0 0;
  width: 100%;
}
.header #inner-header section.tools #searchform #s {
  float: left;
  width: 100%;
  padding-left: 5px;
  font-size: 10px;
  color: #1b3f94;
  border: 1px solid;
}
.header #inner-header section.tools #searchform #searchsubmit {
  display: none;
}
.header #inner-header section.tools .newsletter-link {
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "mbalbold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 7px;
  display: block;
  clear: both;
  float: left;
}
/*********************
07. NAVIGATION STYLES
*********************/
/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/
.nav {
  font-family: "mbalbold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*border: 1px solid #ccc;*/
  border-bottom: 0;
  font-size: 17px;
  /* end .menu li */
  /* highlight current page */
  /* end current highlighters */
}
.nav li {
  /*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
}
.nav li a {
  display: block;
  text-decoration: none;
  padding: 10px 10px;
  /*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
}
.nav li ul.sub-menu,
.nav li ul.children {
  font-size: 12px;
}
.nav li ul.sub-menu li a,
.nav li ul.children li a {
  padding-left: 30px;
}
/* end .nav */
/*********************
08. POSTS & CONTENT STYLES
*********************/
#content {
  position: absolute;
  top: 109px;
  width: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-height: 736px) {
  #content {
    top: 120px;
  }
}

#content #inner-content #main {
  /*padding-bottom: 122px;*/
}
/* end .hentry */
/* want to style individual post classes? Booya! */
/* post by id (i.e. post-3) */
/* general post style */
/* general article on a page style */
/* general style on an attatchment */
/* sticky post style */
/* hentry class */
/* style by category (i.e. category-videos) */
/* style by tag (i.e. tag-news) */
/* post meta */
.byline {
  color: #999;
}
/* entry content */
.entry-content {
    width: 100% !important; 
  font-size: 14px;
  color: #1b3f94;
  line-height: 1.2em;
  /*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
}
.entry-content i,
.entry-content dfn,
.entry-content em,
.entry-content .em {
  font-size: 16px;
}
.entry-content ul,
.entry-content ol {
  margin-left: 22px;
}
.entry-content ul {
  list-style-type: square;
}
.entry-content dd {
  margin-left: 0;
  font-size: 0.9em;
  color: #787878;
  margin-bottom: 1.5em;
}
.entry-content img {
  /*max-width: 100%;*/
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
}
.entry-content video,
.entry-content object {
  max-width: 100%;
  height: auto;
}
.entry-content pre {
  background: #eee;
  border: 1px solid #cecece;
  padding: 10px;
}
/* end .entry-content */
.wp-caption {
  max-width: 100%;
  background: #fff;
  padding: 5px;
  /* images inside wp-caption */
}
.wp-caption img {
  max-width: 100%;
  margin-bottom: 0;
  width: 100%;
}
.wp-caption p.wp-caption-text {
  font-size: 0.85em;
  margin: 4px 0 7px;
  text-align: left;
}
/* end .wp-caption */
/* image gallery styles */
/* end .gallery */
/* gallery caption styles */
/******************************************************************
09. PAGE NAVI STYLES
******************************************************************/
.page-navigation,
.wp-prev-next {
  margin: 1.1em 0 2.2em;
}
.bones_page_navi {
  /* current page link */
  /* end .bones_page_navi .bpn-current */
  /* common styles for page-navi links */
  /* remove the bg on end links */
  /* previous link */
  /* next page link */
  /* first page link */
  /* last page link */
}
.bones_page_navi li {
  float: left;
  margin-left: 10px;
}
.bones_page_navi li a {
  padding: 3px 6px;
  display: block;
  text-decoration: none;
  position: relative;
}
.bones_page_navi li a:hover,
.bones_page_navi li a:focus {
  color: #f01d4f;
  text-decoration: underline;
}
.bones_page_navi li.bpn-current {
  padding: 3px 6px;
  border-bottom: 2px solid #f01d4f;
  position: relative;
}
.bones_page_navi li.bpn-current a {
  /* hovering on current page link */
}
.bones_page_navi li.bpn-prev-link,
.bones_page_navi li.bpn-next-link {
  font-weight: 700;
}
.bones_page_navi li.bpn-prev-link a,
.bones_page_navi li.bpn-next-link a {
  padding: 0;
}
.bones_page_navi li.bpn-prev-link a:hover,
.bones_page_navi li.bpn-next-link a:hover,
.bones_page_navi li.bpn-first-page-link a:hover,
.bones_page_navi li.bpn-last-page-link a:hover {
  background: none;
}
/* end .bones_page_navi */
/* fallback previous & next links */
.wp-prev-next .prev-link {
  float: left;
}
.wp-prev-next .next-link {
  float: right;
}
/* end .wp-prev-next */
/******************************************************************
10. COMMENT STYLES
******************************************************************/
/* h3 comment title */
#comments {
  /* number of comments span */
}
.commentlist {
  /* general comment classes */
  /* vcard */
  /* end .commentlist .vcard */
  /* comment meta */
  /* comment content */
  /* end .commentlist .comment_content */
  /* comment reply link */
  /* end .commentlist .comment-reply-link */
}
.commentlist li {
  position: relative;
  clear: both;
  overflow: hidden;
  list-style-type: none;
  margin-bottom: 1.5em;
  padding: 0.7335em 10px;
  /* end .commentlist li ul.children */
}
.commentlist li:last-child {
  margin-bottom: 0;
}
.commentlist li ul.children {
  margin: 0;
  /* variations */
  /* change number for different depth */
}
.commentlist li[class*=depth-] {
  margin-top: 1.1em;
}
.commentlist li.depth-1 {
  margin-left: 0;
  margin-top: 0;
}
.commentlist li:not(.depth-1) {
  margin-right: -10px;
  margin-left: -10px;
  margin-top: 0;
  padding-bottom: 0;
}
.commentlist .odd {
  background: #eee;
}
.commentlist .even {
  background: #fefefe;
}
.commentlist .vcard {
  margin-left: 50px;
}
.commentlist .vcard cite.fn {
  font-weight: 700;
  font-style: normal;
}
.commentlist .vcard time {
  float: right;
}
.commentlist .vcard time a {
  color: #999;
  text-decoration: none;
}
.commentlist .vcard time a:hover {
  text-decoration: underline;
}
.commentlist .vcard img.avatar {
  position: absolute;
  left: 10px;
  padding: 2px;
  border: 1px solid #cecece;
  background: #fff;
}
.commentlist .comment_content {
  margin-left: 50px;
}
.commentlist .comment_content p {
  margin: 0.7335em 0 1.5em;
  font-size: 1em;
  line-height: 1.5em;
}
.commentlist .comment-reply-link {
  text-decoration: none;
  float: right;
  background: #4598bb;
  padding: 3px 5px;
  color: #fff;
  opacity: 0.65;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 0.9em;
}
.commentlist .comment-reply-link:hover,
.commentlist .comment-reply-link:focus {
  opacity: 1;
}
/* end .commentlist */
/******************************************************************
11. COMMENT FORM STYLES
******************************************************************/
.respond-form {
  margin: 1.5em 10px;
  padding-bottom: 2.2em;
}
.respond-form form {
  margin: 0.75em 0;
}
.respond-form form li {
  list-style-type: none;
  clear: both;
  margin-bottom: 0.7335em;
}
.respond-form form li label,
.respond-form form li small {
  display: none;
}
.respond-form form input[type=text],
.respond-form form input[type=email],
.respond-form form input[type=url],
.respond-form form textarea {
  padding: 3px 6px;
  background: #efefef;
  border: 2px solid #cecece;
  line-height: 1.5em;
  /* form validation */
}
.respond-form form input[type=text]:focus,
.respond-form form input[type=email]:focus,
.respond-form form input[type=url]:focus,
.respond-form form textarea:focus {
  background: #fff;
}
.respond-form form input[type=text]:invalid,
.respond-form form input[type=email]:invalid,
.respond-form form input[type=url]:invalid,
.respond-form form textarea:invalid {
  outline: none;
  border-color: #fbc2c4;
  background-color: #f6e7eb;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.respond-form form input[type=text],
.respond-form form input[type=email],
.respond-form form input[type=url] {
  max-width: 400px;
  min-width: 250px;
}
.respond-form form textarea {
  resize: none;
  width: 97.3%;
  height: 150px;
}
/* comment submit button */
/* comment form title */
#comment-form-title {
  margin: 0 0 1.1em;
}
/* cancel comment reply link */
/* logged in comments */
/* allowed tags */
#allowed_tags {
  margin: 1.5em 10px 0.7335em 0;
}
/* no comments */
.nocomments {
  margin: 0 20px 1.1em;
}
/*********************
12. SIDEBARS & ASIDES
*********************/
.widget ul li {
  /* deep nesting */
}
/*********************
13. FOOTER STYLES
*********************/
.footer {
  background: #fff;
  position: fixed;
  height: 0px;
  bottom: 0;
  width: 100%;
  z-index: 9999;
  clear: both;
}
/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
/* end .footer-links */
/*
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*/
@media only screen and (min-width: 481px) {
  /******************************************************************
Site Name: 
Author: 

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.less styles.

******************************************************************/
  .home article h1 {
    font-size: 40px;
    line-height: 1em;
  }
  /*********************
03. LAYOUT & GRID STYLES
*********************/
  /*Archive General Styles*/
  .tax-mbal_exhibition_cat article header,
  .tax-mbal_boutique_tag article header,
  .page-template-page-boutique-php article header {
    background-size: 22px 32px;
    background-position: calc(100% - 12px) 6px;
  }
  .tax-mbal_exhibition_cat article footer,
  .tax-mbal_boutique_tag article footer,
  .page-template-page-boutique-php article footer {
    background-size: 22px 32px;
    background-position: 12px calc(100% - 5px);
  }
  /* Page type 1 Specifics*/
  /*.single, .page*/
  .page-template-default .mbal-centre article header .next-link,
  .single-mbal_exhibitions .mbal-centre article header .next-link,
  .single-mbal_boutiques .mbal-centre article header .next-link,
  .page-template-default .mbal-centre article header .prev-link,
  .single-mbal_exhibitions .mbal-centre article header .prev-link,
  .single-mbal_boutiques .mbal-centre article header .prev-link {
    position: absolute;
  }
  .page-template-default .mbal-centre article header .next-link a,
  .single-mbal_exhibitions .mbal-centre article header .next-link a,
  .single-mbal_boutiques .mbal-centre article header .next-link a,
  .page-template-default .mbal-centre article header .prev-link a,
  .single-mbal_exhibitions .mbal-centre article header .prev-link a,
  .single-mbal_boutiques .mbal-centre article header .prev-link a {
    background-size: 35px 29px;
    width: 14.5px;
    height: 29px;
  }
  .page-template-default .mbal-centre article header .prev-link,
  .single-mbal_exhibitions .mbal-centre article header .prev-link,
  .single-mbal_boutiques .mbal-centre article header .prev-link {
    left: 0px;
    top: 4px;
  }
  .page-template-default .mbal-centre article header .prev-link a,
  .single-mbal_exhibitions .mbal-centre article header .prev-link a,
  .single-mbal_boutiques .mbal-centre article header .prev-link a {
    background-position: 0px 0px;
  }
  .page-template-default .mbal-centre article header .next-link,
  .single-mbal_exhibitions .mbal-centre article header .next-link,
  .single-mbal_boutiques .mbal-centre article header .next-link {
    right: 0px;
    top: 4px;
  }
  .page-template-default .mbal-centre article header .next-link a,
  .single-mbal_exhibitions .mbal-centre article header .next-link a,
  .single-mbal_boutiques .mbal-centre article header .next-link a {
    background-position: 13px 0px;
  }
  /******************************************************************
05. H1, H2, H3, H4, H5 STYLES
******************************************************************/
  h1,
  .h1 {
    margin: 0 0 30px 0;
    font-size: 2.5em;
    line-height: 1.0em !important;
  }
  .tax-mbal_exhibition_cat article h1,
  .tax-mbal_boutique_tag article h1,
  .page-template-page-boutique-php article h1,
  .tax-mbal_exhibition_cat article .h1,
  .tax-mbal_boutique_tag article .h1,
  .page-template-page-boutique-php article .h1 {
    font-size: 2.5em;
  }
  /*********************
NAVIGATION STYLES
*********************/
  /* .menu is clearfixed inside mixins.scss */
  .menu {
    /* end .menu ul */
  }
  .menu ul {
    /* end .menu ul li */
    /* highlight current page */
    /* end current highlighters */
  }
  .menu ul li {
    /*
				plan your menus and drop-downs wisely.
				*/
  }
  .menu ul li a {
    /*
					you can use hover styles here even though this size
					has the possibility of being a mobile device.
					*/
  }
  /* end .menu */
  /*********************
POSTS & CONTENT STYLES
*********************/
  /* entry content */
  .entry-content {
    /* at this larger size, we can start to align images */
  }
  .entry-content .alignleft,
  .entry-content img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left;
  }
  .entry-content .alignright,
  .entry-content img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right;
  }
  .entry-content .aligncenter,
  .entry-content img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
  }
  /* end .entry-content */
  /*********************
FOOTER STYLES
*********************/
  /*
check your menus here. do they look good?
do they need tweaking?
*/
  /* end .footer-links */
}
/*
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/
@media only screen and (min-width: 768px) {
  /******************************************************************
Site Name:
Author:

Stylesheet: Grid Stylesheet

I've seperated the grid so you can swap it out easily. It's
called at the top the style.less stylesheet.

There are a ton of grid solutions out there. You should definitely
experiment with your own. Here are some recommendations:

http://gridsetapp.com - Love this site. Responsive Grids made easy.
http://gridpak.com/ - Create your own responsive grid.

The grid below is a combination of the 1140 grid and Twitter Boostrap. 
I liked 1140 but Boostrap's grid was way more detailed so I merged them 
together, let's see how this works out. If you want to use 1140, the original 
values are commented out on each line.

******************************************************************/
  .onecol {
    width: 5.801104972%;
  }
  /* 4.85%;  } /* grid_1  */
  .twocol {
    width: 14.364640883%;
  }
  /* 13.45%; } /* grid_2  */
  .threecol {
    width: 22.928176794%;
  }
  /* 22.05%; } /* grid_3  */
  .fourcol {
    width: 31.491712705%;
  }
  /* 30.75%; } /* grid_4  */
  .fivecol {
    width: 40.055248616%;
  }
  /* 39.45%; } /* grid_5  */
  .sixcol {
    width: 48.618784527%;
  }
  /* 48%;    } /* grid_6  */
  .sevencol {
    width: 57.182320438000005%;
  }
  /* 56.75%; } /* grid_7  */
  .eightcol {
    width: 65.74585634900001%;
  }
  /* 65.4%;  } /* grid_8  */
  .ninecol {
    width: 74.30939226%;
  }
  /* 74.05%; } /* grid_9  */
  .tencol {
    width: 82.87292817100001%;
  }
  /* 82.7%;  } /* grid_10 */
  .elevencol {
    width: 91.436464082%;
  }
  /* 91.35%; } /* grid_11 */
  .twelvecol {
    width: 99.999999993%;
  }
  /* 100%;   } /* grid_12 */
  .onecol,
  .twocol,
  .threecol,
  .fourcol,
  .fivecol,
  .sixcol,
  .sevencol,
  .eightcol,
  .ninecol,
  .tencol,
  .elevencol,
  .twelvecol {
    position: relative;
    float: left;
    margin-left: 2.762430939%;
  }
  .first {
    margin-left: 0;
  }
  .last {
    float: right;
  }
  /******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
  /*********************
GENERAL STYLES
*********************/
  /*********************
LAYOUT & GRID STYLES
*********************/
  .wrap {
    max-width: 1140px;
  }
  #container .mbal-centre {
    /* Separate from grid */
    padding: 0px;
    width: 504px;
    margin: 0 auto;
  }
  .home article.home-logo section {
    width: 490px;
    margin: 0 auto;
    padding: 0;
  }
  .home article {
    position: relative;
  }
  .home article h1 {
    font-size: 55px;
    line-height: 1em;
  }
  .home article header {
    padding: 0px 0px 0px 10px;
    width: 490px;
    margin: 0 auto;
    top: 78px;
    left: 0px;
    right: 0px;
    background-size: 33px 48px;
    background-position: 100% 8px;
  }
  .home article footer {
    padding: 0px ;
    width: 495px;
    margin: 0 auto;
    bottom: 120px;
    left: 0px;
    right: 0px;
    background-size: 33px 48px;
    background-position: 10px calc(100% - 8px);
  }
  /*Archive General Styles*/
  .tax-mbal_exhibition_cat.term-actuelles article,
  .tax-mbal_exhibition_cat.term-a-venir article {
    margin: 0 0 22px 0;
  }
  /* Page type 1 Specifics*/
  /*.single, .page*/
  .page-template-default .mbal-centre article header > *,
  .single-mbal_exhibitions .mbal-centre article header > *,
  .single-mbal_boutiques .mbal-centre article header > *,
  .page-template-default .mbal-centre article section > *,
  .single-mbal_exhibitions .mbal-centre article section > *,
  .single-mbal_boutiques .mbal-centre article section > *,
  .page-template-default .mbal-centre article footer > *,
  .single-mbal_exhibitions .mbal-centre article footer > *,
  .single-mbal_boutiques .mbal-centre article footer > * {
    /*All direct child descendants*/
    /*  padding-left:10px; */
  }
  .page-template-default .mbal-centre article section .thumbnail-link,
  .single-mbal_exhibitions .mbal-centre article section .thumbnail-link,
  .single-mbal_boutiques .mbal-centre article section .thumbnail-link,
  .page-template-default .mbal-centre article section img,
  .single-mbal_exhibitions .mbal-centre article section img,
  .single-mbal_boutiques .mbal-centre article section img,
  .page-template-default .mbal-centre article section .flexslider,
  .single-mbal_exhibitions .mbal-centre article section .flexslider,
  .single-mbal_boutiques .mbal-centre article section .flexslider {
    padding: 0px !important;
    /* Exclude padding on grid */
  }
  .page-template-default .mbal-centre article header,
  .single-mbal_exhibitions .mbal-centre article header,
  .single-mbal_boutiques .mbal-centre article header {
    position: relative;
  }
  .page-template-default .mbal-centre article header .next-link a,
  .single-mbal_exhibitions .mbal-centre article header .next-link a,
  .single-mbal_boutiques .mbal-centre article header .next-link a,
  .page-template-default .mbal-centre article header .prev-link a,
  .single-mbal_exhibitions .mbal-centre article header .prev-link a,
  .single-mbal_boutiques .mbal-centre article header .prev-link a {
    background-size: 46px 38px;
    width: 23px;
    height: 38px;
  }
  .page-template-default .mbal-centre article header .prev-link,
  .single-mbal_exhibitions .mbal-centre article header .prev-link,
  .single-mbal_boutiques .mbal-centre article header .prev-link {
    left: -62px;
    top: 4px;
  }
  .page-template-default .mbal-centre article header .next-link,
  .single-mbal_exhibitions .mbal-centre article header .next-link,
  .single-mbal_boutiques .mbal-centre article header .next-link {
    right: -62px;
    top: 4px;
  }
  .page-template-default .mbal-centre article header .next-link a,
  .single-mbal_exhibitions .mbal-centre article header .next-link a,
  .single-mbal_boutiques .mbal-centre article header .next-link a {
    background-position: 23px 0px;
  }
  .page-template-default .mbal-centre article header .entry-title.single-title,
  .single-mbal_exhibitions .mbal-centre article header .entry-title.single-title,
  .single-mbal_boutiques .mbal-centre article header .entry-title.single-title {
    margin-left: 0px;
    margin-right: 0px;
  }
  .page-template-default .mbal-centre article section.single-lower aside.single-lower,
  .single-mbal_exhibitions .mbal-centre article section.single-lower aside.single-lower,
  .single-mbal_boutiques .mbal-centre article section.single-lower aside.single-lower {
    padding-left: 0px;
  }
  .page-template-page-boutique-php .mbal-centre article header > *,
  .page-template-page-boutique-php .mbal-centre article section > *,
  .page-template-page-boutique-php .mbal-centre article footer > * {
    /*All direct child descendants*/
    padding-left: 0px;
  }
  .page-template-page-boutique-php .mbal-centre article {
    position: relative;
  }
  .page-template-page-boutique-php .mbal-centre article header,
  .page-template-page-boutique-php .mbal-centre article footer {
    position: absolute;
  }
  /* Page type 2 Specifics*/
  /* Page type 3 Specifics*/
  .tax-mbal_exhibition_cat.term-archives .mbal-centre article,
  .tax-mbal_exhibition_cat.term-agenda .mbal-centre article,
  .tax-mbal_boutique_tag .mbal-centre article,
  .page-template-page-boutique-php .mbal-centre article {
    float: left;
    width: 49.5%;
    margin-right: 1%;
  }
  .tax-mbal_exhibition_cat.term-archives .mbal-centre article h1,
  .tax-mbal_exhibition_cat.term-agenda .mbal-centre article h1,
  .tax-mbal_boutique_tag .mbal-centre article h1,
  .page-template-page-boutique-php .mbal-centre article h1,
  .tax-mbal_exhibition_cat.term-archives .mbal-centre article .h1,
  .tax-mbal_exhibition_cat.term-agenda .mbal-centre article .h1,
  .tax-mbal_boutique_tag .mbal-centre article .h1,
  .page-template-page-boutique-php .mbal-centre article .h1 {
    font-size: 1.4em;
  }
  .tax-mbal_exhibition_cat.term-archives .mbal-centre article header,
  .tax-mbal_exhibition_cat.term-agenda .mbal-centre article header,
  .tax-mbal_boutique_tag .mbal-centre article header,
  .page-template-page-boutique-php .mbal-centre article header {
    background-size: 14px 21px;
    background-position: calc(100% - 10px) 0px;
  }
  .tax-mbal_exhibition_cat.term-archives .mbal-centre article footer,
  .tax-mbal_exhibition_cat.term-agenda .mbal-centre article footer,
  .tax-mbal_boutique_tag .mbal-centre article footer,
  .page-template-page-boutique-php .mbal-centre article footer {
    background-size: 14px 21px;
    background-position: 10px calc(100% - 4px);
  }
  .tax-mbal_exhibition_cat.term-archives .mbal-centre article:nth-of-type(2n),
  .tax-mbal_exhibition_cat.term-agenda .mbal-centre article:nth-of-type(2n),
  .tax-mbal_boutique_tag .mbal-centre article:nth-of-type(2n),
  .page-template-page-boutique-php .mbal-centre article:nth-of-type(2n) {
    margin-right: 0;
  }
  /* Page type 3 Specifics*/
  .tax-mbal_exhibition_cat.term-archives .entry-content .thumbnail-link,
  .tax-mbal_boutique_tag .entry-content .thumbnail-link,
  .page-template-page-boutique-php .entry-content .thumbnail-link {
    height: 165px;
    overflow: hidden;
  }
  /* Temp image fix 

section.entry-content.image-wrapper{
	
	img{
	 min-height:100%;
	}
}
*/
  /******************************************************************
05. H1, H2, H3, H4, H5 STYLES
******************************************************************/
  h1,
  .h1 {
    margin: 0 0 30px 0;
    font-size: 2.5em;
    line-height: 1.0em !important;
  }
  .home h1.archive-title,
  .tax-mbal_exhibition_cat h1.archive-title,
  .tax-mbal_boutique_tag h1.archive-title,
  .page-template-page-boutique-php h1.archive-title,
  .home h1.page-title,
  .tax-mbal_exhibition_cat h1.page-title,
  .tax-mbal_boutique_tag h1.page-title,
  .page-template-page-boutique-php h1.page-title {
    margin-bottom: 30px;
    padding: 0 0 0 0px;
  }
  .home article header h1,
  .tax-mbal_exhibition_cat article header h1,
  .tax-mbal_boutique_tag article header h1,
  .page-template-page-boutique-php article header h1,
  .home article header .h1,
  .tax-mbal_exhibition_cat article header .h1,
  .tax-mbal_boutique_tag article header .h1,
  .page-template-page-boutique-php article header .h1 {
    width: 100%;
  }
  .home article h1,
  .tax-mbal_exhibition_cat article h1,
  .tax-mbal_boutique_tag article h1,
  .page-template-page-boutique-php article h1,
  .home article .h1,
  .tax-mbal_exhibition_cat article .h1,
  .tax-mbal_boutique_tag article .h1,
  .page-template-page-boutique-php article .h1 {
    margin: 0;
    word-spacing: 600px;
  }
  .tax-mbal_exhibition_cat article h1,
  .tax-mbal_boutique_tag article h1,
  .page-template-page-boutique-php article h1,
  .tax-mbal_exhibition_cat article .h1,
  .tax-mbal_boutique_tag article .h1,
  .page-template-page-boutique-php article .h1 {
    font-size: 2.5em;
  }
  .single article header h1,
  .page article header h1 {
    font-size: 3.2em;
  }
  .single article section h1,
  .page article section h1,
  .single article section .h1,
  .page article section .h1 {
    margin: 0px 0px 0px 0px;
    font-size: 3em;
  }
  /*********************
HEADER STYLES
*********************/
  .header {
    position: fixed;
    top: 0;
  }
  .header #inner-header {
    height: 109px;
    padding: 22px 0px 22px 0px;
  }
  .header #inner-header ul.top-nav > li a {
    padding: 0 14px 5px 0px;
    line-height: 1em;
  }
  .header #inner-header ul.top-nav > li:last-child a {
    padding-right: 0px !important;
  }
  .header #inner-header nav {
    width: 504px;
    position: relative;
    top: 0px;
    padding: 0px 0px 0px 0px;
    line-height: 0.8em !important;
    margin: 0 auto;
  }
  .header #inner-header #logo {
    left: 0px;
  }
  .header #inner-header section.tools {
    right: 0px;
    width: 104px;
  }
  .header #inner-header section.tools #menu-button {
    display: none;
  }
  .header #inner-header section.tools ul {
    float: left;
  }
  .header #inner-header section.tools #f-icon,
  .header #inner-header section.tools #i-icon {
    /*background-image: url('../images/top-sprite-small.jpg');*/
  }
  /*********************
NAVIGATION STYLES
*********************/
  .nav {
    /*background: #eee;*/
    border: 0;
    /* end .menu ul li */
    /* highlight current page */
    /* end current highlighters */
  }
  .nav li {
    float: left;
    position: relative;
    /*
		plan your menus and drop-downs wisely.
		*/
    /* showing sub-menus */
  }
  .nav li a {
    border-bottom: 0;
    /*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
  }
  .nav li a:hover,
  .nav li a:focus {
    /*background-color: #dedede;*/
  }
  .nav li ul.sub-menu,
  .nav li ul.children {
    margin-top: 0;
    /*border: 1px solid #ccc;*/
    border-top: 0;
    position: absolute;
    display: none;
    z-index: 8999;
    /* highlight sub-menu current page */
  }
  .nav li ul.sub-menu li,
  .nav li ul.children li {
    /*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
  }
  .nav li ul.sub-menu li a,
  .nav li ul.children li a {
    padding-left: 10px;
    border-right: 0;
    display: block;
    width: 180px;
    /*border-bottom: 1px solid #ccc;*/
    padding-bottom: 0px;
  }
  .nav li ul.sub-menu li:last-child a,
  .nav li ul.children li:last-child a {
    border-bottom: 0;
  }
  .nav li:hover ul {
    top: auto;
    display: block;
  }
  /* end .nav */
  /*********************
08. POSTS & CONTENT STYLES
*********************/
  /*********************
FOOTER STYLES
*********************/
  /*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
  .footer-links ul li {
    /*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
  }
  /* end .footer-links */
}
/*
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/
@media only screen and (min-width: 1030px) {
  /******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/
  #container .mbal-centre {
    /* Separate from grid */
    width: 684px;
  }
  .header #inner-header ul.top-nav > li a {
    padding: 0 45px 5px 0px;
  }
  .header #inner-header nav {
    padding: 0 0 0 16px;
    width: 694px;
  }
  .header #inner-header .nav {
    font-size: 20px;
  }
  body.home article.home-logo section {
    width: 684px;
  }
  body.home article {
    position: relative;
  }
  body.home article header h1,
  body.home article footer h1 {
    font-size: 75px;
    line-height: 1em;
  }
  body.home article header {
    width: 684px;
    background-position: 100% 13px;
  }
  body.home article footer {
    width: 683px;
    background-position: 10px calc(100% - 13px);
  }
  /* Page type 1 Specifics*/
  /*.single, .page*/
  .page-template-default .mbal-centre article,
  .single-mbal_exhibitions .mbal-centre article,
  .single-mbal_boutiques .mbal-centre article {
    position: inherit;
    margin-bottom: 22px;
  }
  .page-template-default .mbal-centre article section.single-lower,
  .single-mbal_exhibitions .mbal-centre article section.single-lower,
  .single-mbal_boutiques .mbal-centre article section.single-lower {
    width: 495px;
    margin-right: 10px;
    float: left;
  }
  .page-template-default .mbal-centre article aside.single-lower,
  .single-mbal_exhibitions .mbal-centre article aside.single-lower,
  .single-mbal_boutiques .mbal-centre article aside.single-lower {
    float: right;
    padding-top: 0px;
  }
  .page-template-default .mbal-centre article aside.single-lower #mbal-social,
  .single-mbal_exhibitions .mbal-centre article aside.single-lower #mbal-social,
  .single-mbal_boutiques .mbal-centre article aside.single-lower #mbal-social {
    width: 100%;
    margin: 0;
    list-style-type: none;
  }
  .page-template-default .mbal-centre article aside.single-lower #mbal-social li,
  .single-mbal_exhibitions .mbal-centre article aside.single-lower #mbal-social li,
  .single-mbal_boutiques .mbal-centre article aside.single-lower #mbal-social li {
    float: left;
    width: 42px;
    margin-right: 1px;
  }
  .page-template-default .mbal-centre article aside.single-lower #mbal-social li a,
  .single-mbal_exhibitions .mbal-centre article aside.single-lower #mbal-social li a,
  .single-mbal_boutiques .mbal-centre article aside.single-lower #mbal-social li a {
    height: 45px;
    background-size: 185px 44px;
  }
  .page-template-default .mbal-centre article aside.single-lower #mbal-social #pinterest-icon a,
  .single-mbal_exhibitions .mbal-centre article aside.single-lower #mbal-social #pinterest-icon a,
  .single-mbal_boutiques .mbal-centre article aside.single-lower #mbal-social #pinterest-icon a {
    background-position: 0px 0px;
  }
  .page-template-default .mbal-centre article aside.single-lower #mbal-social #facebook-icon a,
  .single-mbal_exhibitions .mbal-centre article aside.single-lower #mbal-social #facebook-icon a,
  .single-mbal_boutiques .mbal-centre article aside.single-lower #mbal-social #facebook-icon a {
    background-position: -47px 0px;
  }
  .page-template-default .mbal-centre article aside.single-lower #mbal-social #twitter-icon a,
  .single-mbal_exhibitions .mbal-centre article aside.single-lower #mbal-social #twitter-icon a,
  .single-mbal_boutiques .mbal-centre article aside.single-lower #mbal-social #twitter-icon a {
    background-position: -95px 0px;
  }
  .page-template-default .mbal-centre article aside.single-lower #mbal-social #t-icon a,
  .single-mbal_exhibitions .mbal-centre article aside.single-lower #mbal-social #t-icon a,
  .single-mbal_boutiques .mbal-centre article aside.single-lower #mbal-social #t-icon a {
    background-position: -142px 0px;
  }
  .page-template-page-boutique-php .mbal-centre article {
    position: relative;
  }
  .page-template-page-boutique-php .mbal-centre article header,
  .page-template-page-boutique-php .mbal-centre article footer {
    position: absolute;
  }
  /* Page type 3 Specifics

.tax-mbal_exhibition_cat.term-archives, 
.tax-mbal_boutique_tag, 
.page-template-page-boutique-php  {
	.entry-content .thumbnail-link { height: 224px; overflow:hidden;}
}
*/
}
/*
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /******************************************************************
Site Name: 
Author: 

Stylesheet: Retina Screens & Devices Stylesheet

When handling retina screens you need to make adjustments, especially
if you're not using font icons. Here you can add them in one neat
place.

******************************************************************/
  /* 

EXAMPLE 
Let's say you have an image and you need to make sure it looks ok
on retina screens. Let's say we have an icon which dimension are
24px x 24px. In your regular stylesheets, it would look something
like this:

.icon {
	width: 24px;
	height: 24px;
	background: url(img/test.png) no-repeat;
}

For retina screens, we have to make some adjustments, so that image
doesn't look blurry. So, taking into account the image above and the
dimensions, this is what we would put in our retina stylesheet:

.icon {
	background: url(img/test@2x.png) no-repeat;
	background-size: 24px 24px;
}

So, you would create the same icon, but at double the resolution, meaning 
it would be 48px x 48px. You'd name it the same, but with a @2x at the end
(this is pretty standard practice). Set the background image so it matches
the original dimensions and you are good to go. 

*/
}
/*
iPHONE 5 MEDIA QUERY
Want to get fancy for no good reason? Knock yourself out.
*/
/*
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*/
@media print {
  /******************************************************************
Site Name:
Author:

Stylesheet: Print Stylesheet

This is the print stylesheet. There's probably not a lot
of reasons to edit this stylesheet. If you want to
though, go for it.

******************************************************************/
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a,
  a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a:after,
  a:visited:after {
    content: " (" attr(href) ")";
  }
  a abbr[title]:after,
  a:visited abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none;
  }
}
.single article section h1, 
.page article section h1, 
.single article section .h1, 
.page article section .h1
{
    /*font-size: 2.8em !important;*/
}
#title-container
{
    display: flex;
    width: 100%;
}
#title-container h2
{
    flex: auto;
    width: 74%;
    display: block;
    padding-bottom: 20px;
    text-align: left !important;
}
#title-container aside
{
    flex: auto;
    width: 26%;
    display: block;
    height: 50px !important;
}
nav
{
    left: 4px !important;
}
section.entry-content p
{
    font-size: 16px;
    line-height: 1.35em;
    text-align: justify;
}
#entry-subtitles .datetitle,
#entry-subtitles .timetitle
{
    font-size: 1.75em !important;
    font-weight: 400 !important;
    text-rendering: optimizelegibility !important;
}
#top-insta-icon,
#top-facebook-icon
{
    display: block;
    width: 18px;
    height: 18px;
    font-size: 11px;
    padding-top: 1px;
    padding-left: 1px;
    text-align: center;
    background-color: #1b3f94;
    -webkit-border-radius: 10px;
    border-radius: 20px;
    float: right;
    margin-top: 0;
    text-shadow: none;
    color: #fff; 
    margin-right: 2px;
}
#top-insta-icon .fa,
#top-facebook-icon .fa
{
    color: #fff;
}
@media only screen and (min-width : 737px) and (max-width : 1024px)
{
    nav
    {
        left: 90px !important;
    }
    .header #inner-header .nav {
      font-size: 18px;
    }
    #title-container
    {
        flex-wrap: wrap;
    }
    #title-container h2.h1
    {
        order: 2;
        width: 100%;
    }
    #title-container aside
    {
        order: 1;
        width: 100%;
    }
    #title-container aside
    {
        margin-bottom: 20px;
    }
    #top-slider
    {
        margin-bottom: 10px !important;
    }
    .header #inner-header #logo a img{
        height: 50px;
    }
}
@media only screen and (min-width : 737px) and (max-width : 1024px) and (orientation : portrait) {
    nav
    {
        left: 10px !important;
    }
    .header #inner-header .nav {
      font-size: 15px;
    }
    .header #inner-header ul.top-nav > li a {
        padding: 0 25px 5px 0px;
    }
    #title-container
    {
        flex-wrap: wrap;
    }
    #title-container h2.h1
    {
        order: 2;
        width: 100%;
    }
    #title-container aside
    {
        order: 1;
        width: 100%;
    }
    .header #inner-header #logo a img{
        height: 35px;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-height: 736px) {
    #title-container
    {
        flex-wrap: wrap;
    }
    #title-container h2.h1
    {
        order: 2;
        width: 100%;
    }
    #title-container aside
    {
        order: 1;
        width: 100%;
    }
    .header #inner-header #logo a img 
    {
        height: 50px;
        top: 0;
        position: relative;
    }
    section.tools #menu-button
    {
        top: 0;
        right: 0;
        width: 35px !important;
        position: absolute;
    }
    .header #inner-header section.tools ul
    {
        float: left;
    }
    .header #inner-header section.tools #searchform {
        margin: 11px 0 0 !important;
    }
    .header #inner-header section.tools #top-facebook-icon, 
    .header #inner-header section.tools #top-insta-icon
    {
        right: 0 !important;
        bottom: 0 !important;
        position: absolute !important;
    }
    .header #inner-header section.tools #top-facebook-icon
    {
        right: 20px !important;
    }
    .header #inner-header section.tools #f-icon, 
    .header #inner-header section.tools #i-icon
    {
        right: 0 !important;
        bottom: 0 !important;
        position: absolute !important;
    }
    .header #inner-header section.tools #f-icon
    {
        right: 20px !important;
    }
    .page-template-default .mbal-centre article aside.single-lower, 
    .single-mbal_exhibitions .mbal-centre article aside.single-lower, 
    .single-mbal_boutiques .mbal-centre article aside.single-lower
    {
        padding-top: 0 !important;
    }
    #title-container h2
    {
        font-size: 1.8em !important;
        width: auto !important;
        padding-bottom: 15px;
    }
    h2.timetitle
    {
        font-size: 1.5em !important;
    }
    section.entry-content em
    {
        font-size: 14px;
    }
    section.entry-content p
    {
        font-size: 14px;
        line-height: 1.35em;
        text-align: justify;
    }
}

#entry-subtitles .datetitle,
#entry-subtitles .timetitle
{
    font-size: 1.75em !important;
    font-weight: 400 !important;
    text-rendering: optimizelegibility !important;
}

@media only screen and (min-device-width: 320px) and (max-device-height: 736px) {
    #entry-subtitles .datetitle,
    #entry-subtitles .timetitle
    {
        font-size: 1.4em !important;
    }
    #top-slider
    {
        margin-bottom: 20px !important;
    }
    .page-template-default .mbal-centre article, 
    .single-mbal_exhibitions .mbal-centre article, 
    .single-mbal_boutiques .mbal-centre article
    {
        margin-bottom: 0px !important;
    }
}
#fancybox-overlay
{
    background-color: #fff !important;
    opacity: 0.9 !important;
}
#fancybox-wrap
{
    top: 5px !important;
}
#fancybox-outer #fancybox-title
{
    font-family: "Arvo",Cambria,Times New Roman,Times,serif !important;
    font-size: 13px !important;
    line-height: 1.35em !important;
    color: #1b3f94 !important;
    bottom: -35px !important;
}
#fancybox-outer #fancybox-title #fancybox-title-over
{
    //display: none;
    background-image: none !important;
    /*background-color: rgba(255, 255, 255, 0.7);*/
}
/*#fancybox-outer:hover #fancybox-title #fancybox-title-over
{
    display: block;
}*/